{
  "extends": "airbnb-base",
  "globals": {
    "$": true,
    "Cookies": true,
    "configs": true,
    "document": true,
    "google": true,
    "localStorage": true,
    "location": true,
    "mediator": true,
    "modals": true,
    "server": true,
    "helpers": true,
    "ymaps": true,
    "window": true
  },
  "rules": {
    "no-console": ["error", {
      "allow": ["group", "groupEnd", "info", "error", "warn"]
    }],
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "^[A-Z]"
    }],
    "no-new": 0
  }
}
