__pycache__/
*.py[cod]
*$py.class
.idea/
doc/build/
node_modules/
env/
src/
front/build/
static/
media/
stroyprombeton/settings/local.py
stb.json
docker/.env
docker/env_files/*
!docker/env_files/*.dist
celerybeat*
fake_db.py
.vscode/
package-lock.json
report.xml
