Django==1.9.5
django-widget-tweaks
tblib
pillow
selenium
selenium-requests
psycopg2
pymysql
openpyxl
unidecode
dj-database-url==0.4.1
django-debug-toolbar
django-wkhtmltopdf
-e git+https://github.com/fidals/refarm-site.git#egg=refarm-site
