celery
dj-database-url==0.4.1
Django==1.10
django-debug-toolbar
django-widget-tweaks
django-wkhtmltopdf
django-cachalot
openpyxl
pillow
psycopg2
pymysql
selenium
selenium-requests
tblib
unidecode
ua-parser
user-agents
https://github.com/selwin/django-user_agents/archive/master.zip
https://github.com/fidals/refarm-site/archive/0.1.0.zip
