celery
dj-database-url==0.4.1
Django==1.10
django-debug-toolbar
django-widget-tweaks
django-wkhtmltopdf
openpyxl
pillow
psycopg2
pymysql
selenium
selenium-requests
tblib
unidecode
ua-parser
user-agents
-e git+https://github.com/selwin/django-user_agents#egg=django_user_agents
-e git+https://github.com/fidals/refarm-site.git@17dff6404b73af31d219bf9c5653069da754b6c7#egg=refarm-site
