{% load images %}
{% load thumbnail %}
{% load stb_extras %}

<ul class="news-list">
  {% for page in pages|dictsortreversed:'date_published' %}
    <li class="newslist-item">
      <a class="newslist-item-img" href="{{ page.url }}">
        {% if page.main_image %}
          {% thumbnail page.main_image '262x240' format='PNG' as image %}
            <img class="img-responsive img-stretched" src="{{ image.url }}"
                 alt="{% get_img_alt page %}">
          {% endthumbnail %}
        {% else %}
          {% placeholder_image_url as image_url %}
          <img class="img-responsive img-stretched" src="{{ image_url }}"
               alt="{% get_img_alt page %}">
        {% endif %}
      </a>
      <div class="newslist-item-title">
        <a class="newslist-title-link" href="{{ page.url }}">{{ page.display_title }}</a>
      </div>
      <div class="news-date">
        {% with page_extra_info=page.content|get_page_metadata %}
          {% if page_extra_info.metadata and page_extra_info.metadata.delivery_time %}
            {{ page_extra_info.metadata.delivery_time }}
          {% else %}
            {{ page.date_published|date:'d.m.Y' }}
          {% endif %}
        {% endwith %}
      </div>
      <div class="newslist-item-text">
        {{ page.display_description|truncatechars:190 }}
      </div>

      <div class="newslist-item-more">
        <a href="{{ page.get_absolute_url }}" class="more-link">
          Читать далее
          <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
