{% extends 'layout/inner_page.html' %}

{% load staticfiles %}
{% load pages_extras %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid news-wrapper">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        {% if not page.children.all %}
          <p class="news-date">{{ page.date_published|date:'d.m.Y' }}</p>
        {% endif %}

        {% autoescape off %}
          {% if page.content %}
            {{ page.content }}
          {% endif %}
        {% endautoescape %}

        {% if page.children.all %}
          {% include 'pages/pages.html' with pages=page.children.all only %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
