{% extends 'layout/inner_page.html' %}

{% load staticfiles %}
{% load pages_extras %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid news-wrapper">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        {% ifequal page.parent|stringformat:'s' 'news' %}
          <p class="news-date">{{ page.date_published|date:'d.m.Y' }}</p>
        {% endifequal %}

        {% if page.children.all %}
          {% include 'pages/pages.html' with pages=page.children.all only %}
        {% endif %}

        {% autoescape off %}
          {% if page.content %}
            {{ page.content }}
          {% endif %}
        {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock %}

{% block jslinks %}
  <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU"></script>
  {{ block.super }}
{% endblock %}
