{% extends 'layout/base.html' %}

{% load pages_extras %}

{% block body_class %}index{% endblock %}

{% block search_bar %}
  <div class="searchbar searchbar-banner js-searchbar">
    {% include 'components/search_bar.html' %}
  </div>
{% endblock %}

{% block content %}
  <section class="banner js-banner">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="banner-address">
            <p>Адрес офиса продаж:</p>
            <p>СПб, пр. Елизарова 38А, офис 218</p>
            <p>пн-пт 9:00-18:00</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="banner-name text-center">
            <h1 class="banner-name-h1">«СТК-ПромБетон»</h1>
            <h2 class="banner-name-h2">Завод железобетонных изделий </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="application js-application">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-7">
          <div class="application-title">
            <p>Оставьте свою заявку, мы вам перезвоним, как только оператор будет свободен.</p>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="application-btn">
            <button class="btn btn-white js-open-modal"
                    data-modal-id="backcall-modal">Свяжитесь со мной</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="catalog-section text-center">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <div class="catalog-section-image">
            <img class="img-responsive img-centered" src="{{ STATIC_URL }}images/catalog-gbi.png" alt="Каталог ЖБИ">
          </div>
          <div class="catalog-section-btn">
            <a href="{% custom_url 'gbi' %}" class="btn btn-catalog">Каталог ЖБИ</a>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="catalog-section-image">
            <img class="img-responsive img-centered" src="{{ STATIC_URL }}images/catalog-new-jersey.png" alt="Блоки 'Нью-Джерси'">
          </div>
          <div class="catalog-section-btn">
            <a href="{% url 'category' 473 %}" class="btn btn-catalog">Блоки "Нью-Джерси"</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="offer">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-3">
          <a href="{% url 'order_drawing' %}" class="offer-item text-center">
            <div class="offer-image">
              <div class="offer-item-image offer-item-image-nohover icon-offer-draft"></div>
              <div class="offer-item-image offer-item-image-hover icon-offer-draft-hover"></div>
            </div>
            <div class="offer-item-title">
              ЖБИ по вашим чертежам
              <i class="fa fa-angle-right offer-item-title-chevron" aria-hidden="true"></i>
            </div>
          </a>
        </div>

        <div class="col-xs-offset-1 col-xs-2">
          <a href="{% url 'order_price' %}" class="offer-item text-center">
            <div class="offer-image">
              <div class="offer-item-image offer-item-image-nohover icon-offer-pricelist"></div>
              <div class="offer-item-image offer-item-image-hover icon-offer-pricelist-hover"></div>
            </div>
            <div class="offer-item-title">
              Прайс-листы
              <i class="fa fa-angle-right offer-item-title-chevron" aria-hidden="true"></i>
            </div>
          </a>
        </div>

        <div class="col-xs-offset-1 col-xs-3">
          <a href="{% url 'pages:flat_page' 'kommercheskoe-predlozhenie' %}" class="offer-item text-center">
            <div class="offer-image">
              <div class="offer-item-image offer-item-image-nohover icon-offer-commercial"></div>
              <div class="offer-item-image offer-item-image-hover icon-offer-commercial-hover"></div>
            </div>
            <div class="offer-item-title">
              Коммерческое предложение
              <i class="fa fa-angle-right offer-item-title-chevron" aria-hidden="true"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container container-fluid">
      <div class="row middle-xs">
        <div class="col-xs-offset-1 col-xs-3">
          <h2 class="about-h2 main-h2">О компании</h2>
        </div>

        <div class="col-xs-7">
          <div class="about-text">
            <p class="about-text-p">
              Завод “СТК-ПромБетон” уже шесть лет производит железобетонные
              изделия. У нас более 12000 позиций. За счет использования легких
              конструкций из фанеры мы создаем практически любые виды изделий.
            </p>
            <p class="about-text-p">
              Предприятие “СТК-ПромБетон” занимает площадь в 0.35 га.
              Ежемесячный объем производства составляет более 1000 кубов (м3).
              За два года мы увеличили мощность завода в полтора раза. Так мы
              сократили время изготовления крупных и сезонных заказов.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="about-more">
            <p><a class="more-link" href="{% url 'pages:flat_page' 'proizvodstvo-gbi' %}">
              Производство
              <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
            </a></p>
            <p><a class="more-link" href="{% url 'pages:flat_page' 'about' %}">
              О заводе и партнерах
              <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="objects">
    <div class="container container-fluid">
      <div class="objects-title">
        <h2 class="objects-title-h2 main-h2">Наши объекты</h2>
      </div>
      <div class="objects-map">
        {% include 'pages/index/regions_map.html' with regions=regions only %}
      </div>
    </div>
  </section>

  <section class="news">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-3">
          {% include 'pages/index/partners.html' %}
        </div>

        <div class="col-xs-7">
          {% include 'pages/index/news.html' with news=news only %}
        </div>
      </div>
    </div>
  </section>

  <section class="reviews">
    {% include 'pages/index/reviews.html' with reviews=client_feedbacks only %}
  </section>

  <section class="contact-us text-center">
    <button class="btn js-open-modal" data-modal-id="backcall-modal">Свяжитесь со мной</button>
  </section>
{% endblock %}
