{% extends 'layout/base.html' %}

{% load pages_extras %}
{% load user_agents %}

{% block body_class %}index{% endblock %}

{% block search_bar %}
  <div class="searchbar searchbar-banner js-searchbar">
    {% include 'components/search_bar.html' %}
  </div>
{% endblock %}

{% block content %}
  <section class="banner js-banner">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-11">
          <div class="banner-address">
            <p>Адрес офиса продаж:</p>
            <p>СПб, пр. Елизарова 38А, офис 218</p>
            <p>пн-пт 9:00-18:00</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="banner-name text-center">
            <h1 class="banner-name-h1">«СТК-ПромБетон»</h1>
            <h2 class="banner-name-h2">Завод железобетонных изделий </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="application js-application">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-7 col-lg-offset-1">
          <div class="center-xs start-sm application-title">
            Оставьте свою заявку, мы вам перезвоним, как только оператор будет свободен.
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 center-xs start-sm end-md">
          <div class="application-btn">
            <button class="btn btn-white js-open-modal"
                    data-modal-id="backcall-modal">Свяжитесь со мной</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="catalog-section text-center">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 center-xs col-sm-6">
          {% if not request|is_mobile %}
            <div class="catalog-section-image">
              <img class="img-responsive img-centered" src="{{ STATIC_URL }}images/catalog-gbi.png" alt="Каталог ЖБИ">
            </div>
          {% endif %}
          <a href="{% custom_url 'gbi' %}" class="btn btn-catalog">Каталог ЖБИ</a>
        </div>

        <div class="col-xs-12 center-xs col-sm-6">
          {% if not request|is_mobile %}
            <div class="catalog-section-image">
              <img class="img-responsive img-centered"
                   src="{{ STATIC_URL }}images/catalog-new-jersey.png" alt="Блоки 'Нью-Джерси'">
            </div>
          {% endif %}
          <a href="{% url 'category' 473 %}" class="btn btn-catalog">Блоки "Нью-Джерси"</a>
        </div>
      </div>
    </div>
  </section>

  <section class="offer">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
          <a href="{% custom_url 'order-drawing' %}" class="offer-item text-center">
            <div class="offer-image">
              <div class="offer-item-image offer-item-image-nohover icon-offer-draft"></div>
              <div class="offer-item-image offer-item-image-hover icon-offer-draft-hover"></div>
            </div>
            <div class="offer-item-title">
              ЖБИ по индивидуальным <br> чертежам
              <i class="fa fa-angle-right offer-item-title-chevron" aria-hidden="true"></i>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1">
          <a href="{% custom_url 'order-price' %}" class="offer-item text-center">
            <div class="offer-image">
              <div class="offer-item-image offer-item-image-nohover icon-offer-pricelist"></div>
              <div class="offer-item-image offer-item-image-hover icon-offer-pricelist-hover"></div>
            </div>
            <div class="offer-item-title">
              Прайс-листы
              <i class="fa fa-angle-right offer-item-title-chevron" aria-hidden="true"></i>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
          <a href="{% url 'pages:flat_page' 'kommercheskoe-predlozhenie' %}" class="offer-item text-center">
            <div class="offer-image">
              <div class="offer-item-image offer-item-image-nohover icon-offer-commercial"></div>
              <div class="offer-item-image offer-item-image-hover icon-offer-commercial-hover"></div>
            </div>
            <div class="offer-item-title">
              Коммерческое предложение
              <i class="fa fa-angle-right offer-item-title-chevron" aria-hidden="true"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container container-fluid">
      <div class="row middle-xs">
        <div class="col-xs-12 col-md-3 col-md-offset-1">
          <h2 class="about-h2 main-h2">О компании</h2>
        </div>

        <div class="col-xs-12 col-md-7">
          <div class="about-text">
            <p class="about-text-p">
              Завод “СТК-ПромБетон” уже шесть лет производит железобетонные
              изделия. У нас более 12000 позиций. За счет использования легких
              конструкций из фанеры мы создаем практически любые виды изделий.
            </p>
            <p class="about-text-p">
              Предприятие “СТК-ПромБетон” занимает площадь в 0.35 га.
              Ежемесячный объем производства составляет более 1000 кубов (м3).
              За два года мы увеличили мощность завода в полтора раза. Так мы
              сократили время изготовления крупных и сезонных заказов.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
          <div class="about-more">
            <p><a class="more-link" href="{% url 'pages:flat_page' 'proizvodstvo-gbi' %}">
              Производство
              <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
            </a></p>
            <p><a class="more-link" href="{% url 'pages:flat_page' 'about' %}">
              О заводе и партнерах
              <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if request|is_pc %}
    <section class="objects">
      <div class="container container-fluid">
        <div class="objects-title">
          <h2 class="objects-title-h2 main-h2">Наши объекты</h2>
        </div>
        <div class="objects-map">
          {% include 'pages/index/regions_map.html' with regions=regions only %}
        </div>

        <div class="row text-right">
          <div class="col-xs-11">
            <a class="more-link text-right" href="{% url 'pages:flat_page' 'partners' %}">
              Наши партнеры и заказчики
              <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="news">
    <div class="container container-fluid">
      <div class="row">
        {% if request|is_pc %}
          <div class="col-md-offset-1 col-md-3">
            {% include 'pages/index/partners.html' %}
          </div>
        {% endif %}

        <div class="col-xs-12 col-md-7">
          {% include 'pages/index/news.html' with news=news request=request only %}
        </div>
      </div>
    </div>
  </section>

  <section class="feedbacks">
    {% include 'pages/index/feedbacks_section.html' with feedbacks=client_feedbacks request=request only %}
  </section>

  <section class="contact-us text-center">
    <button class="btn js-open-modal" data-modal-id="backcall-modal">Свяжитесь со мной</button>
  </section>
{% endblock %}
