<div class="main_cat">
  <div class="main_cat_el">
    <a href="/categories/12/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Элементы лестниц</p>
    </a>
  </div>
  <div class="main_cat_el">
    <div class="title">
      <p>Новый тип изделия</p>
    </div>
    <a href="/categories/473/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Блоки удерживающих ограждений для автомобилей (тип "Нью Джерси")</p>
    </a>
  </div>
  <div class="main_cat_el">
    <a href="/categories/15/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Колонны железобетонные</p>
    </a>
  </div>
  <div class="main_cat_el">
    <a href="/categories/180/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Водопропускные трубы</p>
    </a>
  </div>
  <div class="main_cat_el">
    <a href="/categories/176/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Подпорные стены</p>
    </a>
  </div>
  <div class="main_cat_el">
    <div class="title">
      <p>Новый тип изделия</p>
    </div>
    <a href="/categories/12563/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Железнодорожные лотки</p>
    </a>
  </div>
  <div class="main_cat_el">
    <a href="/categories/402/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Лотки и плиты для сборных каналов и тоннелей</p>
    </a>
  </div>
  <div class="main_cat_el">
    <a href="/categories/59/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Фундаменты под опоры контактной сети для железных дорог</p>
    </a>
  </div>
  <div class="main_cat_el">
    <a href="/categories/44/">
      <img src="{{ MEDIA_URL }}index-page/01.png">
      <p>Конструкции фундаментов для металлических опор ЛЭП</p>
    </a>
  </div>
</div>
