{% load images %}
{% load thumbnail %}
{% load stb_extras %}

<section class="mainpage-news">
  <h2 class="mainpage-news-h2 main-h2">Новости</h2>

  <ul>
    {% for item in news %}
      <li class="mainpage-news-item">
        <a href="{{ item.url }}">
          {% if page.main_image %}
            {% thumbnail page.main_image '164x165' as image %}
              <img class="mainpage-news-item-img"
                   src="{{ image.url }}" alt="{% get_img_alt product.page %}">
            {% endthumbnail %}
          {% else %}
            {% placeholder_image_url as image_url %}
              <img class="mainpage-news-item-img"
                   src="{{ image.url }}" alt="{% get_img_alt product.page %}">
          {% endif %}

          <p class="mainpage-news-item-title">{{ item.h1 }}</p>
          <p class="mainpage-news-item-short">{{ item.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="mainpage-news-about">
    <a class="more-link" href="{% url 'pages:flat_page' 'news' %}">
      Все новости
      <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
    </a>
  </div>
</section>
