{% load images %}
{% load thumbnail %}
{% load stb_extras %}

<section class="mainpage-news">
  <h2 class="news-h2 heading-h2">Новости</h2>

  <ul>
    {% for item in news %}
      <li class="news-item">
        <a class="news-item-link" href="{{ item.url }}">
          <div class="news-img-wrapper">
            {% if item.main_image %}
              {% thumbnail item.main_image '165x165' crop='center' as image %}
                <img class="img-responsive img-stretched" src="{{ image.url }}"
                     alt="{% get_img_alt item %}">
              {% endthumbnail %}
            {% else %}
              {% placeholder_image_url as image_url %}
                <img class="img-responsive img-stretched" src="{{ image_url }}"
                     alt="{% get_img_alt item %}">
            {% endif %}
          </div>

          <div class="news-text-wrapper">
            <p class="news-item-title">{{ item.h1 }}</p>
            <p class="news-item-short">{{ item.description }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="news-about">
    <a class="more-link" href="{% url 'custom_page' 'news' %}">
      Все новости
      <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i>
    </a>
  </div>
</section>
