{% load static %}

<section class="partners">
  <img class="partners-title" src="{% static 'images/stk-logo.png' %}">

  <ul>
    {% for partner in partners %}
      <li class="partners-item">
        {% if partner.url  %}
          <a href="{{ partner.url }}" target="_blank">
            <img class="img-responsive partners-image"
                 src="{{ STATIC_URL }}{{ partner.logo }}"
                 alt="{{ partner.alt }}">
            <p class="partners-item-title">
              {% autoescape off %}
                {{ partner.text }}
              {% endautoescape %}
            </p>
          </a>
        {% else %}
            <img class="img-responsive partners-image"
                 src="{{ STATIC_URL }}{{ partner.logo }}"
                 alt="{{ partner.alt }}">
            <p class="partners-item-title">{{ partner.text }}</p>
        {% endif  %}
      </li>
    {% endfor %}
  </ul>
</section>
