{% load images %}
{% load thumbnail %}
{% load stb_extras %}

{% for review in reviews %}
  {% if review.main_image %}
    <li class="reviews-content-item col-md-6 col-lg-4 js-reviews-item">
      {% thumbnail review.main_image 'x270' as image %}
        <a class="reviews-content-img-wrapper js-featherlight-gallery" href="#"
           data-featherlight="{{ review.main_image.url }}">
          <img class="reviews-content-img img-responsive" src="{{ image.url }}"
               alt="{% get_img_alt review %}">
        </a>
      {% endthumbnail %}
      <p class="reviews-content-text">{{ review.name }}</p>
    </li>
  {% endif %}
{% endfor %}
