<table class="index-main-top" border="0">
  <tbody>
  <tr>
    <td style="width: 50%; vertical-align: top; padding: 0 3% 0 0;">
      <div class="m_informer">
        <a class="inf_header" href="/visual/">Наша продукция</a>
        <div class="inf_content">
          <div class="random_list_main">
            <div>
              <div class="inf-product-header">
                <a href="{% url 'product' %}1">Плита П1,5х2,2</a>
              </div>
              <div class="text-center">
                <div class="inf-product-photo">
                  <a href="{% url 'product' %}1">
                    <img class="img-respnsive shk-image" src="{{ MEDIA_URL }}products/1/small.jpg">
                  </a>
                </div>
              </div>
              <div class="inf-product-desc">
                <table class="table table-condensed product-info-table random_main_tech">
                  <tbody>
                  <tr>
                    <td class="product-desc-left-col">Длина (мм)</td>
                    <td class="product-desc-right-col">1500</td>
                  </tr>
                  <tr>
                    <td class="product-desc-left-col">Ширина (мм)</td>
                    <td class="product-desc-right-col">2200</td>
                  </tr>
                  <tr>
                    <td class="product-desc-left-col">Высота (мм)</td>
                    <td class="product-desc-right-col">400</td>
                  </tr>
                  <tr>
                    <td class="product-desc-left-col">Масса (кг)</td>
                    <td class="product-desc-right-col">1430</td>
                  </tr>
                  <tr>
                    <td class="product-desc-left-col">Объем (м3)</td>
                    <td class="product-desc-right-col">0.57</td>
                  </tr>
                  <tr>
                    <td class="product-desc-left-col">
                      <div class="product-price"><span>Цена:</span></div>
                    </td>
                    <td class="product-desc-right-col">
                      <div class="product-price">
                        13815 руб.
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div class="inf-product-for-nds">
                        <p>Цена указана с учетом НДС. Не является публичной офертой.</p>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div style="clear: both;"></div>
              <div class="inf_footer">
                <a href="{% url 'product' %}1">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td style="width: 50%; vertical-align: top; padding: 0;">
      <div class="m_informer">
        <a class="inf_header" href="/news/">Новости компании</a>
        <div class="inf_content">
          <ul>
            <li>
              <div class="news_img">
                <a href="/news/01/">
                  <img class="img-responsive" src="{{ MEDIA_URL }}news/02-10-15/100x100.jpg">
                </a>
              </div>
              <div class="news_text">
                <i>02.10.2015</i><br>
                <a href="/news/01/">Строительство пешеходного моста на ст. Шетпе Республика Казахстан</a><br>
                <div class="inf_intro">ООО «СТК-ПромБетон» принял участие в производстве и поставке железобетонных
                  изделий на строительство пешеходного моста на ст. Шетпе Мангистауской области Республики Казахстан.
                </div>
              </div>
            </li>

            <li>
              <div class="news_img">
                <a href="/news/01/">
                  <img class="img-responsive" src="{{ MEDIA_URL }}news/02-10-15/100x100.jpg">
                </a>
              </div>
              <div class="news_text">
                <i>07.07.2015</i><br>
                <a href="/news/01/">Междушпальные лотки для промышленных предприятий</a><br>
                <div class="inf_intro">В последнее время на наше предприятие поступили заявки на выпуск сборных
                  железобетонных междушпальных лотков на железнодорожных путях промышленных предприятий. Эта продукция
                  выпускается по серии 3.501-68, разработанной институтом ПромТрансНИИПроект в 1972
                </div>
              </div>
            </li>

            <li>
              <div class="news_img">
                <a href="/news/01/">
                  <img class="img-responsive" src="{{ MEDIA_URL }}news/02-10-15/100x100.jpg">
                </a>
              </div>
              <div class="news_text">
                <i>20.05.2015</i><br>
                <a href="/news/01/">Производство мостовых конструкций</a><br>
                <div class="inf_intro">Наше предприятие продолжает работу по выпуску железобетонных мостовых конструкций
                  для объектов Октябрьской железной дороги. Выпускаемые изделия предназначены для выполнения программы
                  капитального ремонта мостов.
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="inf_footer"><a href="/news/">Посмотреть все новости</a></div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
