{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load pages_extras %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/pages.min.css' %}">
{% endblock %}

{% block content %}
  <h1>{{ page.h1 }}</h1>
  <img class="gbi-map" src="{{ STATIC_URL }}images/stb-map.jpg" width="850px" height="485px" usemap="#rf" border="0"/>
  <map name="rf">
    {% for territory in territories %}
      {% for coord in territory.coord %}
        <area href="{% url 'region_flat_page' territory.slug %}"
              title='<div class="map_header">{{ territory.name }}</div>
              <div class="map_footer"><a href="{% url 'region_flat_page' territory.slug %}">Подробнее...</a></div>'
              class="gbi-tooltip" data-maphilight='{"strokeColor":"000000","fillColor":"eb0001"}' shape="poly" coords="{{ coord }}">
      {% endfor %}
    {% endfor %}
    {% if page.content %}
      {% autoescape off %}
        {{ page.content }}
      {% endautoescape %}
    {% endif %}
  </map>
{% endblock %}

{% block jslibs %}
  {{ block.super }}
  <script src="{% static 'js/vendors-pages.min.js' %}"></script>
{% endblock %}

{% block jslinks %}
  {{ block.super }}
  <script src="{% static 'js/pages.min.js' %}"></script>
{% endblock %}
