// ================================================================
// PAGE 404
// ================================================================
.page-404 {
  padding-top: $h-header;

  &-message {
    padding: 136px 0 120px;
    text-align: center;
  }

  &-nums {
    margin-bottom: 20px;
    font-size: $f-size-base + 74;
    font-weight: 400;
    line-height: 1;
    color: $c-black;
  }

  &-h1 {
    margin-bottom: 12px;
    font-size: $f-size-base + 13;
    font-weight: 400;
    letter-spacing: -0.019em;
    color: $c-404-h1;
  }

  &-info {
    margin-bottom: 40px;
    font-size: $f-size-base;
    font-weight: 400;
    color: $c-404-info;
  }
}
