// ================================================================
// CATALOG PAGE
// ================================================================
.catalog {
  padding: 21px 0;

  &-ul {
    display: none;
    margin: 0 0 30px 50px;
  }

  &-title {
    display: block;
    color: $c-catalog-sub;
    cursor: pointer;
    font-size: $f-size-base;
    font-weight: 400;
    margin-bottom: 12px;
    position: relative;
    transition: all 0.2s ease;

    &::after {
      content: "-";
      font-weight: 600;
      left: -15px;
      position: absolute;
      top: -2px;
    }
  }
}

.catalog-ul-wrapper > .catalog {
  &-title {
    align-items: center;
    background-color: $c-catalog-title-bg;
    border-radius: 3px;
    color: $c-white;
    cursor: pointer;
    display: flex;
    font-size: $f-size-base + 18;
    font-weight: 300;
    margin: 0 0 30px;
    min-height: 120px;
    padding: 15px 70px 20px 32px;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      background-color: $c-catalog-title-hover-bg;
    }

    &::after {
      border-right: 2px solid $c-white;
      border-bottom: 2px solid $c-white;
      content: "";
      display: block;
      height: 23px;
      left: auto;
      position: absolute;
      right: 32px;
      top: 49px;
      transform: rotate(-45deg);
      transition: all 0.2s ease;
      width: 23px;
    }

    &.active::after {
      right: 25px;
      top: 42px;
      transform: rotate(45deg);
    }
  }
}
// ================================================================
// ABOUT CATALOG
// ================================================================
.about-catalog {
  font-size: $f-size-base + 2;

  &-p {
    margin-bottom: 25px;
  }
}
