// ================================================================
// CATALOG PAGE
// ================================================================
.catalog {
  padding: 21px 0;

  &-ul {
    margin: 0 0 30px 40px;
  }

  &-title {
    display: block;
    color: $c-catalog-sub;
    cursor: pointer;
    font-size: $f-size-base;
    font-weight: 400;
    margin-bottom: 12px;
    position: relative;
    transition: all 0.2s ease;

    &::after {
      content: "-";
      font-weight: 600;
      left: -15px;
      position: absolute;
      top: -2px;
    }
  }
}

.catalog-ul-wrapper > .catalog {
  &-title {
    align-items: center;
    background-color: $c-catalog-title-bg;
    border-radius: 3px;
    color: $c-white;
    cursor: pointer;
    display: flex;
    font-size: $f-size-base + 6;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 10px 20px 15px;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      background-color: $c-catalog-title-hover-bg;
    }
  }
}
// ================================================================
// ABOUT CATALOG
// ================================================================
.about-catalog {
  font-size: $f-size-base + 2;

  &-p {
    margin-bottom: 25px;
  }
}
