// ================================================================
// SEARCH
// ================================================================
.category-search {
  margin: 0 0 60px;
}

// ================================================================
// FILTER
// ================================================================
.category-filter {
  &-title {
    border-bottom: 1px solid $c-table-border;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 1px 0 10px;
  }

  &-item {
    margin-bottom: 15px;
  }

  &-link {
    color: $c-category-sidebar-link;
    display: block;
    font-size: $f-size-base - 4;
    font-weight: 600;
    transition: all 0.2s ease;
  }
}

// ================================================================
// PRODUCT LIST
// ================================================================
.product-list {
  border-bottom: 1px solid $c-separator-grey;
  margin-bottom: 100px;
}

// ================================================================
// ABOUT
// ================================================================
.category-about {
  align-items: center;
  display: flex;
  justify-content: center;

  &-text {
    font-size: $f-size-base + 2;
    width: 55%;
  }

  &-img {
    width: 25%;
  }
}
