.drawing {
  display: flex;
  flex-direction: column;

  p {
    margin: 5px 0 30px;
  }

  &-form {
    align-self: center;
    width: 66%;
  }


  .input-field-wrapper {
    margin: 0 0 25px;

    .input-field {
      width: 99%;
    }
  }

  &-images {
    align-self: center;
    flex-direction: row;
    margin: 15px 0;
    width: 70%;

    &-item {
      margin: 10px;
    }
  }
}
