@import "../utilities/mixins";

.drawing {
  display: flex;
  flex-direction: column;

  &-text {
    margin: 0 0 20px;
    text-align: center;
  }

  &-form {
    width: 95%;

    @include media($sm) {
      align-self: center;
      width: 66%;
    }
  }

  &-images {
    align-self: center;
    flex-direction: row;
    margin: 15px 0;
    width: 70%;

    &-item {
      margin: 10px;
    }
  }
}
