// ================================================================
// NEWS PAGE
// ================================================================
.page-news {
  padding: $h-header 0 58px;
}

// ================================================================
// BREADCRUMBS
// ================================================================
.breadcrumbs-news {
  padding-bottom: 38px;
}

// ================================================================
// NEWS
// ================================================================
.news {
  &-date {
    color: $c-news-date;
    font-size: $f-size-base;
    font-weight: 400;
    margin-bottom: 19px;
  }

  &-wrapper {
    ul {
      margin: 0 0 25px;
    }
  }

  &-images {
    margin: 0 0 25px;

    img {
      display: block;
      height: auto;
      max-width: 100%;
      margin: 0 auto 10px;
    }
  }

  &-text p {
    margin-bottom: 25px;
  }

  &-back {
    margin-bottom: 60px;

    &-link {
      color: $c-news-back-link;
      font-size: $f-size-base - 3;
      font-weight: 600;
      line-height: 1.23;
    }

    &-link:hover {
      color: $c-news-back-link-hover;
    }

    &-link:active {
      color: $c-news-back-link-active;
    }
  }
}
