// ================================================================
// NEWSLIST
// ================================================================
.newslist {
  padding: 22px 0;

  &-item {
    background-color: $c-teaser-bg;
    position: relative;
    margin-bottom: 52px;
    padding: 20px 97px 0 292px;
    height: 240px;

    &-img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 262px;
    }

    &-title {
      margin-bottom: 7px;
      font-weight: 600;
    }

    &-date {
      color: $c-text-grey;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &-text {
      font-size: $f-size-base + 2;
    }

    &-more {
      position: absolute;
      bottom: 18px;
      right: 23px;
    }
  }
}
