.page-news {
  padding: $h-header 0 58px;
}

// ================================================================
// NEWS
// ================================================================
.news {
  &-date {
    color: $c-text-grey;
    font-size: $f-size-base;
    font-weight: 400;
    margin-bottom: 19px;
  }

  &-wrapper {
    ul {
      margin: 0 0 25px;
    }

    img {
      display: block;
      height: auto;
      margin: 0 auto 10px;
      max-width: 100%;
    }
  }

  &-text p {
    margin-bottom: 25px;
  }
}
