// ================================================================
// NEWSLIST
// ================================================================
.newslist {
  padding: 22px 0;

  &-item {
    @include teaser-box;
    margin-bottom: 50px;
    padding: 20px 30px 0 285px;
    min-height: 196px;

    &-img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 262px;
    }

    &-title {
      margin-bottom: 7px;
      font-weight: 600;
    }

    &-date {
      color: $c-text-grey;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &-text {
      font-size: $f-size-base + 2;
    }

    &-more {
      position: absolute;
      bottom: 18px;
      right: 23px;
    }
  }

  &-title-link {
    @include grey-link;
  }
}
