@import "../utilities/variables";
@import "../utilities/mixins";

.page-news {
  padding: $h-header 0 58px;
}

// ================================================================
// NEWS
// ================================================================
.news {
  &-wrapper {
    p {
      line-height: 1.5;
      margin: 0 0 15px;
    }

    ul:not(.news-list):not(.list-unstyled) {
      list-style: none;
      margin: 0 0 20px;

      li {
        line-height: 1.5;
        text-indent: 20px;

        @include media($sm) {
          line-height: 2;
        }
      }

      li::before {
        content: "-";
        font-weight: 600;
        left: -10px;
        position: relative;
      }
    }

    img {
      display: block;
      margin: 0 auto 10px;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-text p {
    margin-bottom: 25px;
  }
}

.gbi-desc-photo {
  max-width: 313px;
}

.newslist {
  padding: 22px 0;

  &-item {
    @include teaser-box;
    margin-bottom: 20px;
    padding: 0 15px 45px;

    @include media($sm) {
      margin-bottom: 50px;
      min-height: 206px;
      padding: 10px 30px 0 285px;
    }

    @include media($md) {
      min-height: 196px;
      padding: 20px 30px 0 285px;
    }

    &-img {
      height: 100%;
      left: 0;
      top: 0;
      width: 262px;

      @include media($sm) {
        position: absolute;
      }
    }

    &-title {
      font-weight: 600;
      margin-bottom: 10px;
    }

    &-more {
      bottom: 10px;
      position: absolute;
      right: 20px;
    }
  }

  &-title-link {
    @include grey-link;
  }
}

// ================================================================
// CONTACTS PAGE
// ================================================================
.map {
  height: 350px;

  @include media($md) {
    height: auto;
  }

  &-points {
    height: 400px;
    margin: 0 0 15px;
    overflow-y: auto;

    @include media($md) {
      margin: 0;
    }
  }

  &-point {
    @include transition;
    cursor: pointer;
    padding: 10px 10px 5px;
    position: relative;

    &:hover {
      background: rgba($c-black, 0.03);
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::before {
      @include transition;
      content: "";
      background: $c-orange;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

    &.active::before {
      opacity: 1;
    }

    p,
    h3 {
      margin-bottom: 5px;
    }
  }

  &-time,
  &-phone {
    margin: 0 0 5px;
  }
}

.search {
  &-info {
    font-size: $f-size-base + 2;
    padding-bottom: 50px;
  }
}

.sitemap-list {
  margin-bottom: 30px;

  &-item {
    margin: 0 0 10px;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;

  @include media($sm) {
    justify-content: center;
  }

  &-item {
    margin: 0 3px 10px;

    @include media($sm) {
      margin: 0 3px;
    }
  }

  .btn {
    border-width: 1px;
    min-width: 65px;
    padding: 2px 20px 3px;
    text-align: center;
  }
}
