@import "../utilities/variables";
@import "../utilities/mixins";

.product-serial {
  padding-bottom: 20px;

  @include media($md) {
    padding-bottom: 50px;
    text-align: center;
  }

  &-title {
    font-weight: 400;
  }

  &-val {
    font-weight: 600;
    margin-right: 10px;

    @include media($sm) {
      margin-right: 20px;
    }
  }
}

.product-img {
  cursor: pointer;

  &-wrapper {
    margin: 0 0 30px;

    @include media($md) {
      margin: 0;
      padding: 0 0 85px;
    };
  }
}

.product {
  &-info {
    padding: 0 0 30px;

    @include media($md) {
      padding: 0 0 85px;
    }
  }

  &-td {
    border-bottom: 1px solid $c-table-border;
    font-size: $f-size-base - 2;
    min-width: 130px;
    padding: 8px 10px 8px 0;

    @include media($sm) {
      font-size: $f-size-base;
      min-width: 204px;
      padding: 11px 20px 11px 0;
    }
  }
}

.product-characteristics {

  &-title {
    font-size: $f-size-base;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-table {
    margin: 0 0 40px;
    table-layout: fixed;

    &-col {
      &-key {
        width: 80%;
      }

      &-val {
        width: 20%;
      }

    }
  }

  &-val {
    font-weight: 700;
  }
}

.link-on-top-level {
  color: $c-path;
}

.product-order {
  padding-bottom: 20px;

  @include media($sm) {
    padding-bottom: 40px;
  }

  &-submit {
    text-align: center;

    @include media($md) {
      text-align: right;
    }
  }

  &-table {
    border-bottom: 1px solid $c-table-border;
    margin-bottom: 25px;

    &-th {
      text-align: left;
      border-bottom: 1px solid $c-table-border;
      line-height: 1.25;
      padding-bottom: 14px;
    }

    &-col-price,
    &-col-total {
      font-size: $f-size-base;
      font-weight: 600;
      height: 60px;
      vertical-align: middle;
      width: 162px;

      @include media($sm) {
        font-size: $f-size-base + 4;
      }
    }

    &-col-count {
      width: 130px;
    }
  }

  &-public-offer {
    text-align: left;
  }
}

.buy-product {
  margin: 0 0 25px;
}

.category-price {
  color: $c-orange;
  font-size: $f-size-base;
  font-weight: 600;
  text-align: center;

  @include media($md) {
    text-align: right;
  }
}

.product-describe {
  &-title {
    font-size: $f-product-describe-title-size;
    font-weight: 700;
    padding-bottom: 20px;
  }

  &-text {
    font-size: $f-size-base + 2;
  }
}

.product-siblings {
  &-title {
    font-size: $f-size-base + 10;
    margin-bottom: 10px;

    @include media($sm) {
      font-size: $f-size-base + 18;
      margin-bottom: 18px;
    }
  }

  &-text {
    font-size: $f-size-base;
    margin-bottom: 20px;

    @include media($sm) {
      font-size: $f-size-base + 2;
      margin-bottom: 40px;
    }
  }
}

.slider {
  position: relative;
  overflow: hidden;
  height: 342px;

  &-item {
    margin: 0 15px;

    &-title {
      color: $c-text;
      font-size: $f-size-base;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-image {
      height: 238px;
      margin-bottom: 15px;
      overflow: hidden;
      position: relative;
    }

    &-price {
      font-size: $f-size-base + 4;
      font-weight: 600;
    }

    .more-link {
      display: block;
    }
  }
}

.slick-arrow {
  @include transition;
  background-color: $c-black;
  height: 38px;
  width: 36px;
  z-index: 1;

  @include media($md) {
    height: 52px;
    width: 46px;

    &:not(.slick-disabled):hover {
      height: 100%;
    }
  }

  &::after {
    border-right: 2px solid $c-white;
    border-bottom: 2px solid $c-white;
    bottom: 0;
    content: "";
    height: 10px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
  }
}

.slick {
  &-prev {
    left: 0;
  }

  &-prev::after {
    transform: translateX(2px) rotate(135deg);
  }

  &-next {
    right: 0;
  }

  &-next::after {
    transform: translateX(-2px) rotate(-45deg);
  }
}
