@import "../utilities/variables";
@import "../utilities/mixins";

.product-serial {
  padding-bottom: 20px;

  @include media($md) {
    text-align: center;
  }

  &-title {
    font-weight: 400;
  }

  &-val {
    font-weight: 600;
    margin-right: 10px;

    @include media($sm) {
      margin-right: 20px;
    }
  }
}

.product-img {
  cursor: pointer;

  &-wrapper {
    margin: 0 0 30px;

    @include media($md) {
      margin: 0;
      padding: 0 0 50px;
    };
  }
}

.option {
  &-info {
    padding: 0 0 30px;

    @include media($md) {
      padding: 0 0 85px;
    }
  }

  &-order {
    padding: 0 0 50px 0;
    margin-left: -62px;
  }

  &-td {
    border-bottom: 1px solid $c-table-border;
    font-size: $f-size-base - 2;
    min-width: 110px;
    padding: 8px 5px;
    text-align: center;

    @include media($sm) {
      font-size: $f-size-base;
      padding: 11px 10px;
    }

    &-price {
      font-weight: 600;
    }
  }
}

.link-on-top-level {
  color: $c-path;
}

.buy-product {
  padding: 5px 15px;
}

.category-price {
  color: $c-orange;
  font-size: $f-size-base;
  font-weight: 600;
  text-align: center;

  @include media($md) {
    text-align: right;
  }
}

.product-describe {
  &-title {
    font-size: $f-product-describe-title-size;
    font-weight: 700;
    padding-bottom: 20px;
  }

  &-text {
    font-size: $f-size-base + 2;
  }
}

.product-siblings {
  &-title {
    font-size: $f-size-base + 10;
    margin-bottom: 10px;

    @include media($sm) {
      font-size: $f-size-base + 18;
      margin-bottom: 18px;
    }
  }

  &-text {
    font-size: $f-size-base;
    margin-bottom: 20px;

    @include media($sm) {
      font-size: $f-size-base + 2;
      margin-bottom: 40px;
    }
  }
}

.slider {
  position: relative;
  overflow: hidden;
  height: 342px;

  &-item {
    margin: 0 15px;

    &-title {
      color: $c-text;
      font-size: $f-size-base;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-image {
      height: 238px;
      margin-bottom: 15px;
      overflow: hidden;
      position: relative;
    }

    &-price {
      font-size: $f-size-base + 4;
      font-weight: 600;
    }

    .more-link {
      display: block;
    }
  }
}

.slick-arrow {
  @include transition;
  background-color: $c-black;
  height: 38px;
  width: 36px;
  z-index: 1;

  @include media($md) {
    height: 52px;
    width: 46px;

    &:not(.slick-disabled):hover {
      height: 100%;
    }
  }

  &::after {
    border-right: 2px solid $c-white;
    border-bottom: 2px solid $c-white;
    bottom: 0;
    content: "";
    height: 10px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
  }
}

.slick {
  &-prev {
    left: 0;
  }

  &-prev::after {
    transform: translateX(2px) rotate(135deg);
  }

  &-next {
    right: 0;
  }

  &-next::after {
    transform: translateX(-2px) rotate(-45deg);
  }
}
