// ================================================================
// SERIES SINGLE
// ================================================================
.page-series-single {
  padding-top: $h-header;
}

// ================================================================
// HEADER
// ================================================================
.series-single-header {
  padding-bottom: 60px;
}

// ================================================================
// SEARCH
// ================================================================
.series-single-search {
  padding-bottom: 65px;
}

// ================================================================
// CONTENT
// ================================================================
.series-single-content {
  padding-bottom: 62px;
}

// ================================================================
// FILTER
// ================================================================
.series-single-filter {
  padding-top: 35px;

  &-title {
    padding-bottom: 28px;
    font-size: $f-size-base - 3;
    font-weight: 600;
    line-height: 1.23;
    text-align: center;
    color: $c-category-filter-title;
  }

  &-clear {
    font-size: $f-size-base - 4;
    font-weight: bold;
    text-align: center;
    color: $c-category-filter-clear;
    cursor: pointer;
  }
}

// ================================================================
// TABLE
// ================================================================
.series-single-table {
  &-more {
    padding: 45px 0 33px;
  }
}

// ================================================================
// ABOUT
// ================================================================
.series-single-about {
  padding-bottom: 121px;
  font-size: $f-size-base + 2;
  font-weight: 300;
  line-height: 1.33;
  color: $c-category-about;
}
