// ================================================================
// SERIES PAGE
// ================================================================
.page-series {
  padding-top: $h-header;
}

// ================================================================
// HEADER
// ================================================================
.series-header {
  padding-bottom: 60px;

  &-h1 {
    font-size: $f-size-base + 18;
    font-weight: 300;
    line-height: 1.18;
    text-align: center;
    color: $c-series-h1;
  }
}

// ================================================================
// SERIES SEARCH
// ================================================================
.series-search {
  padding-bottom: 88px;
}

// ================================================================
// SERIES CONTENT
// ================================================================
.series-content {
  padding-bottom: 61px;
}

// ================================================================
// SERIES CATEGORIES
// ================================================================
.series-categories {
  margin-bottom: 8px;
  font-size: 0;

  &-item {
    display: inline-block;
    position: relative;
    width: 195px;
    font-size: $f-size-base + 2;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    vertical-align: middle;
    color: $c-series-categories-item;
    cursor: pointer;
    transition: all 0.2s ease;

    &:last-child {
      width: 164px;
    }

    &::before,
    &::after {
      content: " ";
      position: absolute;
      width: 1px;
      height: 40px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $c-series-categories-border;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: -1px;
    }

    &:hover {
      color: $c-series-categories-item-hover;
    }
  }

  &-item.active {
    color: $c-series-categories-item-active;
    font-weight: bold;
    z-index: 1;

    &::after,
    &::before,
    &:last-child::after {
      background-color: $c-series-categories-item-active;
    }
  }
}

// ================================================================
// SERIES ORDER
// ================================================================
.series-order {
  padding-top: 4px;
  width: 172px;
}

// ================================================================
// SERIES LIST
// ================================================================
.series-list {
  padding: 28px 29px;
  min-height: 290px;
  background-color: $c-series-list-bg;
  border-top: 1px solid $c-series-list-border;

  &-item {
    font-size: $f-size-base + 2;
    font-weight: 600;
    line-height: 1.67;
    color: $c-series-list-item;

    &::before {
      content: "•";
      margin-right: 4px;
    }
  }

  &-link {
    color: $c-series-list-link;
    transition: all 0.2s ease;

    &:hover {
      color: $c-black;
    }
  }
}

// ================================================================
// SERIES ABOUT
// ================================================================
.series-about {
  padding-bottom: 121px;
  font-size: $f-size-base + 2;
  font-weight: 300;
  line-height: 1.33;
  color: $c-series-about;
}
