/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-down-active {
  background-image: url(../images/sprite-pages.png);
  background-position: 0px 0px;
  width: 35px;
  height: 38px;
}
.icon-arrow-down-hover {
  background-image: url(../images/sprite-pages.png);
  background-position: -35px 0px;
  width: 35px;
  height: 38px;
}
.icon-arrow-down {
  background-image: url(../images/sprite-pages.png);
  background-position: -70px 0px;
  width: 35px;
  height: 38px;
}
.icon-picture {
  background-image: url(../images/sprite-pages.png);
  background-position: 0px -38px;
  width: 26px;
  height: 20px;
}
