{% extends "layout/base.html" %}

{% block content %}
  <strong><i>03.06.2016</i></strong>
  <h1>Запустили серийное производство блоков "Нью Джерси"</h1>
  <p>В соответствии с нашими планами по развитию предприятия в этом году мы наладили серийный выпуск железобетонных
    блоков удерживающих ограждений типа «Нью Джерси». Следует отметить, что эту работу мы ведём не первый год. Ранее
    велась подготовительная работа по разработке технической документации, изготовлению форм, испытанию блоков на
    удерживающую способность и стойкость к агрессивной среде. Это позволило выявить ряд недостатков и наметить
    технические мероприятия по повышению качества блоков.</p>

  <p>Наш технический отдел ведёт работу совместно с ведущими проектными организациями Санкт-Петербурга по внесению
    изменений в стандартную конструкцию наших блоков с целью внедрения на объектах города. Это связано с необходимостью
    учёта особенностей каждого конкретного объекта.</p>

  <p>В настоящее время ведётся активное производство и поставка блоков по всей России вплоть до Дальнего Востока.</p>

  <p>Мы готовы к расширению сотрудничества со строительными организациями на этом направлении.</p>

  <p>
    <img src="{{ MEDIA_URL }}/news/02-10-15/100x100.jpg"
         style="border: 3px double #DDD; border-radius: 5px; display: block; margin: 10px auto; max-width:750px;">
    <img src="{{ MEDIA_URL }}/news/02-10-15/100x100.jpg"
         style="border: 3px double #DDD; border-radius: 5px; display: block; margin: 10px auto; max-width:750px;">
  </p>
{% endblock %}
