{% extends 'layout/base.html' %}

{% block content %}
  <h1>Доставка</h1>
  <p>Оформить доставку можно при заключении договора вне зависимости от суммы покупки и количества товара. Можно также
    воспользоваться <b>самовывозом</b>.</p>

  <ul>
    <li>Доставляем по всей России;
    </li>
    <li>Везем авто-, ЖД-, водным транспортом;
    </li>
    <li>Разрабатываем оптимальный маршрут доставки;
    </li>
    <li>Гарантируем целостность изделий.
    </li>
  </ul>

  <p>Компания гарантирует доставку вашего заказа на объект в целости. Сроки и стоимость обсуждаем индивидуально с каждым
    покупателем. Они зависят от:
  </p>
  <ul>
    <li>Расстояния от объекта до завода;</li>
    <li>Объема и габаритов груза.</li>
  </ul>
  <p></p>
  <a href="/assets/images/Russia-map-main.png" rel="shadowbox">
    <img src="{{ MEDIA_URL }}/posts/Russia-map.png" style="float:right; margin: 12px 30px 0 0; width:700px;
    height:187px;">
  </a>
  <p> ЖБИ из <b>Мурманска</b> и <b>Архангельска</b> доставляем по Северному морскому пути в порты:
  </p>
  <ul>
    <li>Варандей, Нарьян-Мар (Баренцево море);</li>
    <li>Витино, Кандалакша, Мезень, Онега (Белое море);</li>
    <li>Певек (Восточно-Сибирское море);</li>
    <li>Амдерма, Диксон, Дудинка, Игарка, Сабетта (Карское море);</li>
    <li>Тикси, Хатанга (море Лаптевых);</li>
    <li>Анадырь, Беринговский, Провидения, Эгвекинот (Берингово море).</li>
  </ul>
  <p></p>
  <p>Доставка по морю осуществляется в период навигации: апрель-ноябрь.</p>


  <div class="dostavka-gbi">
    <p>Варианты доставки</p>
    <ul>
      <li>Доставка автотранспортом компании</li>
      <li>Доставка по железной дороге</li>
      <li>Доставка по морю</li>
      <li>Самовывоз со склада в Санкт-Петербурге и Ленинградской области</li>
    </ul>
  </div>

  <div class="dostavka-gbi">
    <p>Стоимость доставки</p>
    <ul>
      <li>Цена доставки по Санкт-Петербургу <span class="price">от 6000 руб.</span></li>
      <li>Цена доставки по Ленинградской области <span class="price">от 10000 руб.</span></li>
      <li>Цена доставки в другие регионы России <span class="price">от 20000 руб.</span></li>
    </ul>
  </div>
{% endblock %}
