{% extends 'layout/inner_page.html' %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="drawing">

      {% if page.content %}
        {% autoescape off %}
          {{ page.content }}
        {% endautoescape %}
      {% endif %}

      {% if page.images.exists %}
        <div class="drawing-images">
          {% for image in page.images.all %}
            {% thumbnail image.image '200x150' as resize_image %}
              <img class="drawing-images-item" data-featherlight="{{ image.image.url }}" src="{{ resize_image.url }}">
            {% endthumbnail %}
          {% endfor %}
        </div>
      {% endif %}

      <p>Для заказа изделий по индивидуальным чертежам воспользуйтесь формой ниже:</p>

      <form method="post" enctype="multipart/form-data" class="drawing-form">{% csrf_token %}
        {% for field in form %}
          <div class="input-label">
            {{ field.label }}
            <span class="input-label-asterisk">
              {% if field.field.required %} *{% endif %}{{ field.required }}
            </span>
          </div>

          <div class="input-field-wrapper {% if field.id_for_label == 'id_file' %}js-drawing-input{% endif %}">
            {{ field }}
            {% include 'components/input_validation_icons.html' %}
            {{ field.errors }}
          </div>

          {% if field.help_text %}
            <div class="input-field-help">
              {{ field.help_text }}
            </div>
          {% endif %}
        {% endfor %}

        <div class="text-right">
          <button class="btn" type="submit">Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
