{% extends 'layout/inner_page.html' %}

{% load thumbnail %}
{% load stb_extras %}
{% load widget_tweaks %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="drawing">
      {% if page.content %}
        {% autoescape off %}
          {{ page.content }}
        {% endautoescape %}
      {% endif %}

      {% if page.images.exists %}
        <div class="drawing-images">
          {% for image in page.images.all %}
            {% with big_img=image.image %}
              {% thumbnail big_img '200x150' format='PNG' as resize_image %}
                <img
                  class="drawing-images-item js-photoswipe-slide"
                  src="{{ resize_image.url }}"
                  data-original-src="{{ big_img.url }}"
                  data-original-src-width="{{ big_img.width }}"
                  data-original-src-height="{{ big_img.height }}"
                  alt="{% get_img_alt feedback %}"
                >
              {% endthumbnail %}
            {% endwith %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
