{% extends 'layout/inner_page.html' %}

{% load widget_tweaks %}

{% block content %}
  {# TODO: `breadcrumbs` doesn't work #}
  {# 'str' object has no attribute 'get_path' #}
  {# {% include 'layout/breadcrumbs.html' %}#}

  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <h1 class="heading-h1">Оформление запроса на изготовление по индивидуальным чертежам</h1>

    <div class="row">
      <div class="col-xs-offset-2 col-xs-7">
        <form method="post">{% csrf_token %}
          {% for field in form %}
            <div class="input-label">{{ field.label_tag }}</div>
            <div class="input-field">
              {{ field }}
              {% include 'components/input_validation_icons.html' %}
              {{ field.errors }}
            </div>
          {% endfor %}

          <div class="text-right">
            <button class="btn" type="submit" name="submit">Отправить заявку</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
