{% load pages_extras %}

<form action="{% custom_url 'order' %}" method="post" id="shop-order-form">
  {% csrf_token %}
  {% for field in form %}
    <div class="input-label">
      <label for="{{ field.name }}">{{ field.label }}</label>
      {% if field.field.required %}
        <span class="input-label-asterisk">*</span>
      {% endif %}
    </div>

    <div class="input-field-wrapper">
      {{ field }}
      {% if field == form.activity %}<i class="fa fa-angle-down input-angle-down"></i>{% endif %}
      {% include 'components/input_validation_icons.html' %}
      {{ field.errors }}
    </div>
  {% endfor %}

  <div class="btn-order-form">
    <button type="submit" class="btn">Отправить</button>
  </div>
</form>
