{% extends 'layout/inner_page.html' %}

{% load stb_extras %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-sm-offset-2">
        <form method="post">{% csrf_token %}
          {% for field in form %}
            <div class="input-label">
              <label for="{{ field.name }}">{{ field.label }}</label>
              {% if field.field.widget.attrs.required %}
                <span class="input-label-asterisk">*</span>
              {% endif %}
            </div>

            <div class="input-field-wrapper">
              {{ field }}
              {% if field == form.activity %}<i class="fa fa-angle-down input-angle-down"></i>{% endif %}

              {% if field.field.widget.attrs.required %}
                {% include 'components/input_validation_icons.html' %}
                {% order_form_field_error field.errors %}
              {% endif %}
            </div>
          {% endfor %}

          <div class="btn-submit-page-form">
            <button class="btn" type="submit">Заказать</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
