{% load static %}
{% load widget_tweaks %}
{% load stb_extras %}
{% load pages_extras %}

{% if not cart %}
  <h2 class="text-center">Нет выбранных позиций</h2>
  <p class="text-center">Если вы не нашли изделие <a href="{% custom_url 'gbi' %}">в каталоге</a>,
    <br>мы изготовим его <a href="{% custom_url 'order-drawing' %}">по вашим чертежам</a>.
  </p>
{% else %}
  <section class="order">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h2 class="order-title">Ваш заказ</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <table class="order-table">
            <thead>
              <tr>
                <th class="order-table-th order-table-th-name">Наименование</th>
                <th class="order-table-th order-table-th-count">Кол-во</th>
                <th class="order-table-th order-table-th-price">Цена</th>
              </tr>
            </thead>
            <tbody>
              {% for id, product in cart %}
                <tr class="js-product-row" data-product-id="{{ id }}">
                  <td class="order-table-name">
                    <a href="{{ product.url }}">
                      {{ product.name }} {% get_product_field id 'mark'%}
                    </a>
                  </td>
                  <td class="order-table-count">
                    {% include 'catalog/count_input.html' %}
                  </td>
                  <td class="order-table-price">
                    {{ product.price|format_price }}
                    <i class="fa fa-times order-icon-remove icon-remove js-remove"
                       aria-hidden="true" title="Удалить товар"></i>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-7">
          <div class="order-total">
            <span class="order-total-title">Итог:</span>
            <span class="order-total-val">{{ cart.total_price|format_price }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="order-form">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-lg-10 col-lg-offset-1">
          <h2 class="order-form-heading">Контакты</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-offset-2">
          {% include 'ecommerce/order/form.html' %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
