{% extends 'layout/inner_page.html' %}

{% load pages_extras %}
{% load staticfiles %}
{% load mptt_tags %}

{% block content %}
  <section class="page-404">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p class="page-404-nums">404</p>
          <h1 class="page-404-h1">Страница не найдена</h1>
          <p class="page-404-info">
            Такой страницы не существует.
            <span class="page-404-callus js-open-modal"
                  data-modal-id="backcall-modal">Связаться с нами.</span>
          </p>
          <a href="/" class="btn">На главную</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
