.breadcrumbs {
  padding: 0 0 30px;
  color: $c-path;
  font-size: $f-size-base - 3;

  &-item a {
    color: $c-path;
    font-weight: 600;
    line-height: 1.23;

    &:hover {
      color: $c-path-hover;
    }

    &:active {
      color: $c-path-active;
    }
  }
}
