.breadcrumbs {
  color: $c-path;
  font-size: $f-size-base - 3;
  padding: 0 0 30px;

  &-item {
    line-height: 1.8;

    a {
      color: $c-path;
      font-weight: 600;

      &:hover {
        color: $c-path-hover;
      }

      &:active {
        color: $c-path-active;
      }
    }
  }
}
