.img {
  &-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }

  &-centered {
    margin: auto;
  }

  &-stretched {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}
