input {
  -moz-appearance: textfield;
  border: 1px solid $c-table-input-border;
  border-radius: 2px;
  color: $c-table-input;
  font-size: $f-size-base;
  font-weight: 400;
}

.input {
  &-wrapper {
    display: inline-block;
    position: relative;
  }

  &-caret {
    position: absolute;
    right: 1px;
    width: 20px;
    height: 10px;
    font-size: $f-size-base - 2;
    line-height: 0.8;
    text-align: center;
    color: $c-table-caret;
    cursor: pointer;
    background-color: $c-white;
    transition: all 0.2s ease;

    &:hover {
      color: $c-table-caret-hover;
    }

    &-up {
      top: 2px;
    }

    &-down {
      bottom: 2px;
    }
  }
}
