input,
textarea {
  -moz-appearance: textfield;
  border: 1px solid $c-input-border-color;
  border-radius: 4px;
  color: $c-table-input;
  font-family: $f-family;
  font-size: $f-size-base;
  font-weight: 400;
  padding: 8px 14px;
}

.input {
  &-wrapper {
    display: inline-block;
    position: relative;
  }

  &-caret {
    background-color: $c-white;
    color: $c-input-caret;
    cursor: pointer;
    height: 13px;
    font-size: $f-size-base - 2;
    line-height: 0.8;
    position: absolute;
    right: 1px;
    text-align: center;
    transition: all 0.2s ease;
    width: 20px;

    &:hover {
      color: $c-input-caret-hover;
    }

    &-up {
      top: 6px;
    }

    &-down {
      bottom: 9px;
      height: 13px;
    }
  }

  &-status.fa {
    align-self: center;
    opacity: 0;
    font-size: $f-size-base - 2;
    left: 10px;
    position: absolute;
    transition: all 0.3s ease;
  }

  &-status-valid {
    color: $c-input-valid;

    .valid & {
      opacity: 1;
    }
  }

  &-status-not-valid {
    color: $c-input-not-valid;

    &.active,
    .not-valid & {
      opacity: 1;
    }
  }

  &-label {
    color: $c-form-label;
    margin-bottom: 10px;

    &-asterisk {
      color: $c-input-required;
      font-size: $f-size-base - 1;
    }
  }

  &-field {
    .valid & {
      border-color: $c-input-valid;
    }

    .not-valid & {
      border-color: $c-input-not-valid;
    }

    &-wrapper {
      display: flex;
      margin: 0 0 30px 90px;

      textarea {
        height: 100px;
        width: 90%;
      }
    }

    &-help {
      color: $c-text-grey;
      font-size: $f-size-base - 3;
      padding: 5px 0 10px;
    }
  }

  &-validation-icon-wrapper {
    display: inline-block;
    position: relative;
    top: -13px;

    .input-field-wrapper & {
      top: 13px;
    }
  }
}

.errorlist {
  color: $c-error-text;
  padding: 10px 0;
}
