input,
select,
textarea {
  -moz-appearance: textfield;
  border: 1px solid $c-input-border-color;
  border-radius: 4px;
  color: $c-table-input;
  font-family: $f-family;
  font-size: $f-size-base;
  font-weight: 400;
  line-height: 1.4;
  padding: 8px 14px;
}

textarea {
  height: 100px;
  width: 100%;
}

select {
  -webkit-appearance: button;
  user-select: none;
  background-color: $c-input-select;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 370px;
}

.input {
  &-wrapper {
    display: inline-block;
    position: relative;
  }

  &-angle-down {
    position: relative;
    right: 22px;
    top: 13px;
  }

  &-caret {
    background-color: $c-white;
    color: $c-input-caret;
    cursor: pointer;
    height: 13px;
    font-size: $f-size-base - 2;
    line-height: 0.8;
    position: absolute;
    right: 1px;
    text-align: center;
    transition: all 0.2s ease;
    width: 20px;

    &:hover {
      color: $c-input-caret-hover;
    }

    &-up {
      top: 6px;
    }

    &-down {
      bottom: 9px;
      height: 13px;
    }
  }

  &-status.fa {
    align-self: center;
    opacity: 0;
    font-size: $f-size-base - 2;
    left: 10px;
    position: absolute;
    transition: all 0.3s ease;
  }

  &-status-valid {
    color: $c-input-valid;

    .valid & {
      opacity: 1;
    }
  }

  &-status-invalid {
    color: $c-input-invalid;

    &.active,
    .invalid & {
      opacity: 1;
    }
  }

  &-label {
    color: $c-form-label;
    margin-bottom: 10px;

    &-asterisk {
      color: $c-input-required;
      font-size: $f-size-base - 1;
    }
  }

  &-field {
    min-width: 340px;

    &-wrapper {
      display: flex;
      margin: 0 0 30px 90px;
    }

    &-help {
      color: $c-text-grey;
      font-size: $f-size-base - 3;
      margin: -15px 0 30px 90px;
    }
  }

  &-validation-icon-wrapper {
    display: inline-block;
    position: relative;
    top: -13px;

    .input-field-wrapper & {
      top: 13px;
    }
  }

  &-required {
    &:valid {
      border-color: $c-input-valid;

      ~ .input-validation-icon-wrapper .input-status-valid {
        opacity: 1;
      }
    }

    &:invalid {
      border-color: $c-input-invalid;

      ~ .input-validation-icon-wrapper .input-status-invalid {
        opacity: 1;
      }
    }
  }
}

.errorlist {
  color: $c-error-text;
  padding: 10px 0;
}
