@import "../../utilities/variables";
@import "../../utilities/mixins";

::-webkit-input-placeholder { // Chrome/Opera/Safari
  color: $c-text-muted;
}

::-moz-placeholder { // Firefox 19+
  color: $c-text-muted;
}

:-ms-input-placeholder { // IE 10+
  color: $c-text-muted;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input,
select,
textarea {
  border: 1px solid $c-input-border-color;
  border-radius: 4px;
  font-family: $f-family;
  font-size: $f-size-base;
  line-height: 1.4;
  padding: 8px 14px;
}

textarea {
  height: 100px;
  width: 100%;
}

select {
  -webkit-appearance: button;
  user-select: none;
  background-color: $c-input-select;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 90%;

  @include media() {
    white-space: nowrap;
    width: 370px;
  }
}

.input {
  &-wrapper {
    display: inline-block;
    position: relative;
  }

  &-angle-down {
    position: relative;
    right: 22px;
    top: 13px;
  }

  &-caret {
    @include transition;
    background-color: $c-white;
    color: $c-input-caret;
    cursor: pointer;
    height: 13px;
    font-size: $f-size-base - 2;
    line-height: 0.8;
    position: absolute;
    right: 1px;
    text-align: center;
    width: 20px;

    &:hover {
      color: $c-input-caret-hover;
    }

    &-up {
      top: 8px;
    }

    &-down {
      bottom: 7px;
      height: 13px;
    }
  }

  &-status.fa {
    @include transition;
    align-self: center;
    opacity: 0;
    font-size: $f-size-base - 2;
    left: 10px;
    position: absolute;
  }

  &-status-valid {
    color: $c-input-valid;

    .valid & {
      opacity: 1;
    }
  }

  &-status-invalid {
    color: $c-input-invalid;

    &.active,
    .invalid & {
      opacity: 1;
    }
  }

  &-label {
    color: $c-input-label;
    margin-bottom: 10px;

    &-asterisk {
      color: $c-input-required;
      font-size: $f-size-base - 1;
    }
  }

  &-field {
    width: 90%;

    @include media($sm) {
      min-width: 340px;
    }

    &-wrapper {
      display: flex;
      margin: 0 0 20px;

      @include media($sm) {
        margin: 0 0 30px 90px;
      }
    }

    &-help {
      color: $c-text-grey;
      font-size: $f-size-base - 3;
      margin: -15px 0 30px 90px;
    }
  }

  &-validation-icon-wrapper {
    display: inline-block;
    position: relative;
    top: -13px;

    .input-field-wrapper & {
      top: 13px;
    }
  }

  &-required {
    &:valid {
      border-color: $c-input-valid;

      ~ .input-validation-icon-wrapper .input-status-valid {
        opacity: 1;
      }
    }

    &:invalid {
      border-color: $c-input-invalid;

      ~ .input-validation-icon-wrapper .input-status-invalid {
        opacity: 1;
      }
    }
  }
}

.errorlist {
  color: $c-error-text;
  padding: 10px 0;
}
