input {
  -moz-appearance: textfield;
  border: 1px solid $c-table-input-border;
  border-radius: 2px;
  color: $c-table-input;
  font-size: $f-size-base;
  font-weight: 400;
  padding: 4px 0;
}

.input {
  &-wrapper {
    display: inline-block;
    position: relative;
  }

  &-caret {
    background-color: $c-white;
    color: $c-table-caret;
    cursor: pointer;
    height: 12px;
    font-size: $f-size-base - 2;
    line-height: 0.8;
    position: absolute;
    right: 1px;
    text-align: center;
    transition: all 0.2s ease;
    width: 20px;

    &:hover {
      color: $c-table-caret-hover;
    }

    &-up {
      top: 2px;
    }

    &-down {
      bottom: 6px;
    }
  }
}
