.modal {
  background: rgba($c-black, 0.45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &-row {
    height: 100%;
  }

  &-call {
    background-color: $c-white;
    border-radius: 2px;
    box-shadow: $sh-modal;
    padding: 0 0 25px;
    position: relative;
    width: 556px;
  }

  &-h3 {
    padding: 24px 0 32px;
    font-size: $f-size-base + 4;
    font-weight: 600;
  }

  &-line {
    font-size: 0;
    margin-bottom: 20px;
    padding: 0 16px;
    text-align: left;

    &-label {
      color: $c-modal-label;
      display: inline-block;
      font-size: $f-size-base;
      font-weight: 600;
      width: 100px;
    }

    &-label-asterisk {
      color: $c-modal-label-asterisk;
      font-size: $f-size-base - 2;
    }

    &-input {
      width: 340px;
    }

    &-status {
      display: none;
      margin-left: 9px;
      font-size: $f-size-base - 5;
      vertical-align: 2px;
    }

    &-status-check {
      color: $c-modal-status-check;
    }

    &-status-fail {
      color: $c-modal-status-fail;
    }
  }

  &-close {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 12px;
    color: $c-modal-close;
    cursor: pointer;
  }
}
