@import "../../utilities/variables";
@import "../../utilities/mixins";

.nav {
  display: none;

  @include media($md) {
    display: flex;
    position: relative;
    right: -14px;
  }

  &-wrapper {
    background-color: $c-nav-bg;
    position: relative;
    z-index: 2;

    @include media($md) {
      height: $h-nav-pc;
    }
  }

  &-logo {
    margin-top: 8px;
  }

  &-link {
    @include grey-link;
    display: block;
    font-size: $f-size-base;
    line-height: 1.25;
    padding: 18px 14px;
  }

  .active &-cart-link {
    color: $c-nav-link-chart;

    &:hover {
      color: $c-nav-link-chart-hover;
    }
  }
}

.nav-item {
  display: block;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.cart {
  @include transition(opacity);
  background-color: $c-white;
  border-radius: 2px;
  box-shadow: $sh-modal;
  opacity: 0;
  padding: 12px 10px 16px 16px;
  position: absolute;
  right: 15px;
  top: 45px;
  visibility: hidden;
  width: 324px;
  z-index: -1;

  &.active,
  .cart-wrapper:hover & {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }

  &-clear {
    @include transition;
    color: $c-nav-chart-clear;
    cursor: pointer;
    font-size: $f-size-base - 3;
    font-weight: 600;
    line-height: 1.23;
    margin-bottom: 15px;
    text-align: right;

    &:hover {
      color: $c-nav-chart-clear-hover;
    }

    &:active {
      color: $c-nav-chart-clear-active;
    }
  }

  &-empty-text {
    padding: 0 0 15px;
  }

  &-item-list {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0 20px 15px 0;
    position: relative;
  }

  &-sum {
    border-top: 1px solid $c-table-border;
    padding: 15px 0;
  }

  &-item-list-after {
    margin: 0 0 10px;
    position: relative;

    &::after {
      background: linear-gradient(to bottom, transparent, $c-white);
      content: "";
      bottom: 0;
      height: 20px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  &-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &-name {
      color: $c-nav-chart-item-name;
      margin-bottom: 5px;
    }

    &-price {
      color: $c-nav-chart-item-price;
      font-size: $f-size-base - 4;
      font-weight: 600;
    }

    &-count {
      color: $c-nav-chart-item-count;
      font-size: $f-size-base - 2;
      line-height: 1.14;
    }

    &-remove {
      color: $c-icon-remove;
      cursor: pointer;
      padding: 2px;
      position: absolute;
      right: -15px;
      top: 0;

      &:hover {
        color: $c-black;
      }
    }
  }

  &-order {
    &-btn {
      font-size: $f-size-base;
    }
  }
}

.nav-subnav {
  @include transition(opacity);
  background-color: $c-white;
  border-radius: 2px;
  box-shadow: $sh-modal;
  display: none;
  left: 0;
  padding: 14px;
  position: absolute;
  top: 42px;
  width: 360px;

  .nav-item:hover & {
    display: block;
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-link {
      color: $c-nav-subnav-link;
    }

    &-link:hover {
      color: $c-nav-subnav-link-hover;
    }

    &-remove {
      @include transition;

      &:hover {
        color: $c-black;
      }
    }
  }
}
