@import "../../utilities/variables";
@import "../../utilities/utilities";

.table {
  border-collapse: collapse;
  width: 100%;

  &-space {
    height: 11px;
  }

  &-th {
    border-bottom: 1px solid $c-table-border;
    font-size: $f-size-base + 1;
    font-weight: 600;
    padding: 0 5px 10px;
  }

  &-tr {
    border-bottom: 1px solid $c-table-border-light;

    &:nth-child(2n) {
      background: rgba($c-black, 0.02);
    }

    &:last-child {
      border-color: transparent;
    }
  }

  &-td {
    padding: 10px 5px;
  }

  &-type {
    font-size: $f-size-base + 2;
    width: 80px;
  }

  &-code {
    font-size: $f-size-base;
    font-weight: 700;
    width: 90px;
  }

  &-name {
    font-size: $f-size-base + 2;
    width: 420px;
  }

  &-price {
    font-weight: 400;
    width: 120px;
  }

  &-order {
    @include transition;
    color: $c-text-orange;
    cursor: pointer;
    font-size: $f-size-base - 3;
    font-weight: 600;
    position: relative;
    width: 80px;

    &:hover {
      color: $c-text-orange-hover;
    }

    &:active {
      color: $c-text-orange-active;
    }
  }

  &-count {
    &-input {
      padding: 8px;
      width: 80px;
    }
  }

  &-link {
    color: $c-text;
  }
}

.table-picture {
  width: 80px;

  &-ico {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 2px;
  }

  &-img {
    opacity: 0;
  }
}
