@import "../../utilities/variables";
@import "../../utilities/mixins";

.table {
  border-collapse: collapse;
  width: 100%;

  &-space {
    height: 11px;
  }

  &-th {
    border-bottom: 1px solid $c-table-border;
    font-size: $f-size-base;
    font-weight: 600;
    padding: 0 5px 10px;

    @include media($sm) {
      font-size: $f-size-base + 1;
      width: 80px;
    }
  }

  &-tr {
    border-bottom: 1px solid $c-table-border-light;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

    @include media($sm) {
      display: table-row;
      padding: 0;
    }

    &:nth-child(2n + 1) {
      background: rgba($c-black, 0.02);
    }

    &:last-child {
      border-color: transparent;
    }
  }

  &-td {
    padding: 10px 5px;
    flex: 65%;

    &:nth-child(2n) {
      flex: 35%;
    }
  }

  &-type {
    font-size: $f-size-base;
    width: 70px;

    @include media($sm) {
      font-size: $f-size-base + 2;
      width: 80px;
    }
  }

  &-code {
    font-size: $f-size-base;
    font-weight: 700;
    width: 90px;
  }

  &-code,
  &-type,
  &-photo {
    display: none;

    @include media($sm) {
      display: table-cell;
    }
  }

  &-name {
    @include media($sm) {
      font-size: $f-size-base + 1;
      width: 400px;
    }

    @include media($md) {
      font-size: $f-size-base + 2;
      width: 420px;
    }
  }

  &-price {
    width: 120px;
  }

  &-order {
    @include transition;
    color: $c-orange;
    cursor: pointer;
    font-size: $f-size-base + 1;
    padding: 17px 5px;
    position: relative;

    @include media($sm) {
      font-size: $f-size-base - 3;
      font-weight: 600;
      width: 90px;
    }

    &:hover {
      color: $c-text-orange-hover;
    }

    &:active {
      color: $c-text-orange-active;
    }
  }

  &-count {
    &-input {
      padding: 8px;
      width: 100px;

      @include media($sm) {
        width: 80px;
      }
    }
  }

  &-link {
    color: $c-text;
  }
}

.table-photo {
  @include media($sm) {
    width: 80px;
  }

  &-ico {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 2px;
  }

  &-img {
    opacity: 0;
  }
}
