{% load pages_extras %}
{% load stb_extras %}
{% get_top_menu_categories as categories %}
{% get_top_menu_series as series %}
{% get_top_menu_sections as sections %}

<li class="nav-item">
  <a class="nav-link" href="{% custom_url 'gbi' %}">Каталог</a>

  <div class="nav-subnav js-nav-subnav">
    <div class="nav-subnav-block categories">
      <div class="label"><a href="{% custom_url 'gbi' %}">Категории</a></div>
      <ul class="examples">
        {% for item in categories %}
          <li class="example"><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="nav-subnav-block series">
      <div class="label"><a href="{% custom_url 'series' %}">Серии</a></div>
      <ul class="examples">
        {% for item in series %}
          <li class="example"><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="nav-subnav-block sections">
      <div class="label"><a href="{% custom_url 'sections' %}">Типы изделий</a></div>
      <ul class="examples">
        {% for item in sections %}
          <li class="example"><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'delivery' %}">Доставка</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'req' %}">Реквизиты</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'contacts' %}">Контакты</a>
</li>
