{% load static %}

<nav class="nav-wrapper js-nav">
  <div class="container container-fluid">
    <div class="row">
      <a href="#mobile-menu" class="header-toggle-menu js-mobile-menu-toggler">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>

      <div class="col-md-4 col-md-offset-1 header-logo-wrapper">
        <div class="nav-logo">
          <a class="header-logo" href="/"></a>
        </div>
      </div>

      <div class="header-info">
        <a class="header-info-link" href="{{ site_info.phone.spb_1_url }}">
          <i class="fa fa-phone"></i> {{ site_info.phone.spb_1 }}
        </a>
        <a class="header-info-link" href="mailto:{{ site_info.email }}">
          <i class="fa fa-envelope"></i> {{ site_info.email }}
        </a>
      </div>

      <div class="col-md-6">
        <ul class="nav">
          {% include 'components/navigation_menu.html' %}

          <li class="nav-item cart-wrapper js-cart-wrapper">
            {% include 'ecommerce/header_cart.html' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
