{% load pages_extras %}
{% load stb_extras %}
{% get_top_menu_categories as categories %}

<li class="nav-item">
  <a class="nav-link" href="{% custom_url 'gbi' %}">Каталог</a>

  {% comment %}
    @todo #736:60m  Show example catalog items at the menu header.
     Show some catalog items to clarify catalog terms with UX.
     We had been shown such examples already.
     See comments of the parent task.
  {% endcomment %}
  <ul class="nav-subnav js-nav-subnav">
    <li class="nav-subnav-item">
      <a class="nav-subnav-item-link" href="{% custom_url 'gbi' %}">Категории</a>
    </li>

    <li class="nav-subnav-item">
      <a class="nav-subnav-item-link" href="{% custom_url 'series' %}">Серии</a>
    </li>

    <li class="nav-subnav-item">
      <a class="nav-subnav-item-link" href="{% custom_url 'sections' %}">Типы изделий</a>
    </li>
  </ul>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'delivery' %}">Доставка</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'req' %}">Реквизиты</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'contacts' %}">Контакты</a>
</li>
