{% load stb_extras %}
{% load pages_extras %}
{% get_root_categories as root_categories %}

<li class="nav-item">
  <a class="nav-link" href="{% custom_url 'gbi' %}">Каталог</a>

  <ul class="nav-subnav js-nav-subnav">
    {% for item in root_categories %}
      <li class="nav-subnav-item">
        <a class="nav-subnav-item-link" href="{{ item.url }}">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</li>

{#<li class="nav-item">#}
{#  <a class="nav-link" href="#">Серии</a>#}
{#</li>#}

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'delivery' %}">Доставка</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'req' %}">Реквизиты</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'contacts' %}">Контакты</a>
</li>
