{% load staticfiles %}

<nav class="nav-wrapper js-nav">
  <div class="container container-fluid">
    <div class="row between-xs">
      <div class="col-md-3">
        <div class="nav-logo">
          <a href="/">
            <img class="img-responsive" src="{% static 'images/stk-prombeton.png' %}"
                 title="На главную" alt="СТК-ПромБетон">
          </a>
        </div>
      </div>

      <div class="col-md-9 col-lg-offset-2 col-lg-7">
        <ul class="nav">
          {% include 'components/navigation.html' %}

          <li class="nav-item cart-wrapper js-cart-wrapper">
            {% include 'ecommerce/header_cart.html' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
