{% load pages_extras %}
{% load stb_extras %}
{% get_top_menu_categories as categories %}

<li class="nav-item">
  <a class="nav-link" href="{% custom_url 'gbi' %}">Каталог</a>

  {% comment %}
    @todo #740:60m  Show example Series and Sections in top menu. Mobile too.
     As categories already shown.
     Then show all the examples stuff at the mobile version.
     See pr#737 with removed mobile version template code.
  {% endcomment %}
  <div class="nav-subnav js-nav-subnav">
    <div class="nav-subnav-block">
      <div class="label"><a href="{% custom_url 'gbi' %}">Категории</a></div>
      <ul class="examples">
        {% for item in categories %}
          <li class="example"><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="nav-subnav-block">
      <div class="label"><a href="{% custom_url 'series' %}">Серии</a></div>
    </div>

    <div class="nav-subnav-block">
      <div class="label"><a href="{% custom_url 'sections' %}">Типы изделий</a></div>
    </div>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'delivery' %}">Доставка</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'req' %}">Реквизиты</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'pages:flat_page' 'contacts' %}">Контакты</a>
</li>
