{% load stb_extras %}

<div class="container container-fluid">
  <h1 class="heading-h1">{{ page.h1 }} {{ product.mark }}</h1>
  {% if category %}
  <p id="js-category-description">
    <br>
    {% with page_index=page.get_level %}
      {# page_index == 0 - страница "каталог" #}
      {% if page_index == 1 %} {# категории первого уровня #}
          Завод железобетонных изделий «СТК-ПромБетон» производит и продает ЖБИ для {{ page.h1 }}. Доставляем по Москве, Санкт-Петербургу и регионам России. Организуем самовывоз, если понадобится. Стоимость и сроки доставки обсуждайте с менеджером. Вы можете купить ЖБИ для {{ page.h1 }} на сайте
      {% elif page_index == 2 %} {# категории второго уровня #}
          Завод железобетонных изделий «СТК-ПромБетон» производит и продает {{ page.h1 }}: {{ children|get_objects_attributes:'name' }}. Доставляем по Москве, Санкт-Петербургу и регионам России. Организуем самовывоз, если понадобится. Стоимость и сроки доставки обсуждайте с менеджером. Вы можете купить {{ page.h1 }} на сайте.
      {% elif page_index == 3 %} {# категории третьего уровня #}
        {% if children %}
          Завод железобетонных изделий «СТК-ПромБетон» производит и продает {{ page.h1 }} таких серий: {{ children|get_objects_attributes:'specification' }}. Доставляем по Москве, Санкт-Петербургу и регионам России. Организуем самовывоз, если понадобится.. Стоимость и сроки доставки обсуждайте с менеджером. Вы можете купить {{ page.h1 }} на сайте.
        {% else %}
          Завод железобетонных изделий «СТК-ПромБетон» производит и продает {{ page.h1 }}. Доставляем по Москве, Санкт-Петербургу и регионам России. Организуем самовывоз, если понадобится.. Стоимость и сроки доставки обсуждайте с менеджером. Вы можете купить {{ page.h1 }} на сайте.
        {% endif %}
      {% elif page_index == 4 %} {# категории четвертого уровня #}
          Завод железобетонных изделий «СТК-ПромБетон» производит и продает {{ page.h1 }}. Доставляем по Москве, Санкт-Петербургу и регионам России. Организуем самовывоз, если понадобится.. Стоимость и сроки доставки обсуждайте с менеджером. Вы можете купить {{ page.h1 }} на сайте.
      {% endif %}
    {% endwith %}
  </p>
  {% endif %}
</div>
