{% load pages_extras %}

<div class="container container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-offset-1 searchbar-wrap">
      <form class="search" id="search" action="{% custom_url 'search' %}" method="get">
        <input
          class="search-field js-search-field" placeholder="Поиск по каталогу"
          name="term" value="{{ query }}" type="text">

        <button class="search-btn" id="search-btn" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-6">
      <ul class="searchbar-contacts">
        <li class="searchbar-contacts-item">
          СПб
          <a class="searchbar-contacts-link" href="{{ site_info.phone.spb_1_url }}">
            {{ site_info.phone.spb_1 }}
          </a>
        </li>
        <li class="searchbar-contacts-item">
          Мск
          <a class="searchbar-contacts-link" href="{{ site_info.phone.moscow_1_url }}">
            {{ site_info.phone.moscow_1 }}
          </a>
        </li>
        <li class="searchbar-contacts-item">
          <a class="searchbar-contacts-link" href="mailto:{{ site_info.email }}">
            {{ site_info.email }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
