<div class="show-more-wrapper">
  <div class="show-more" id="load-more-products"
       data-category="{{ category.id }}"
       data-url="{{ category.url }}"
       data-load-count="30"
    >
    Показать еще
    <div class="show-more-arrow
                icon-arrow-down"></div>
    <div class="show-more-arrow
                show-more-arrow-hover
                icon-arrow-down-hover"></div>
    <div class="show-more-arrow
                show-more-arrow-active
                icon-arrow-down-active"></div>
    <div class="show-more-arrow
                show-more-arrow-disabled
                icon-arrow-down-disabled"></div>
  </div>
</div>
