{% load stb_extras %}

<table>
  <tr>
    <td>{% customer_info form.person 'Имя' %}</td>
  </tr>
  <tr>
    <td>{% customer_info form.phone 'Телефон' %}</td>
  </tr>
  <tr>
    <td>{% customer_info form.email 'Электронная почта' %}</td>
  </tr>
  <tr>
    <td>{% customer_info form.company 'Полное название организации' %}</td>
  </tr>
  <tr>
    <td>{% customer_info form.city 'Город' %}</td>
  </tr>
  <tr>
    <td>{% customer_info form.activity 'Направление деятельности' %}</td>
  </tr>
  <tr>
    <td>{% customer_info form.site 'Сайт' %}</td>
  </tr>
</table>
