{% load stb_extras %}

{% include 'ecommerce/email_header.html' %}

<p style="margin: 0 0 1.15em; font-family: Arial, sans-serif;">
  <span style="font-size: 18px;">Здравствуйте!</span>
  <br>
  {% if order.name %}
    Уважаемый(ая) {{ order.name }}, в
  {% else %}
    В
  {% endif %}
  ближайшее время наш менеджер свяжется с Вами и уточнит детали вашей заявки.
</p>

{% customer_info form.name 'Ваше имя' %}
{% customer_info form.phone 'Ваш телефон' %}
{% customer_info form.email 'Ваш email' %}
{% customer_info form.comment 'Сообщение' %}

{% include 'ecommerce/email_footer.html' %}
