{% load stb_extras %}

<li class="nav-item nav-cart-button js-cart-trigger {% if cart|length %}active{% endif %}">
  <a class="nav-link nav-cart-link" href="{% url 'ecommerce:order_page' %}">Корзина</a>

  <div class="cart">
    <div class="cart-clear js-clear-cart">Очистить корзину</div>
    <ul>
      {% for position in cart %}
        {% with product=position.product %}
          <li class="cart-item">
            <a class="cart-item-name" href="{{ product.get_absolute_url }}">
              {{ product.name }}
            </a>

            <div class="cart-item-sum">
              <span class="cart-item-price">{{ product.price|format_price }}</span>
              <span class="cart-item-count js-header-prod-count">x {{ position.quantity }} шт.</span>
            </div>
            <i class="fa fa-close cart-item-remove js-remove" aria-hidden="true" title="Удалить"></i>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>

    <div class="cart-order">
      <a href="{% url 'ecommerce:order_page' %}" class="btn cart-order-btn">Оформить заказ</a>
    </div>
  </div>
</li>
