{% load stb_extras %}
{% load pages_extras %}

<div class="{% if cart|length %}active{% endif %}">
  <a class="nav-link nav-cart-link" href="{% custom_url 'order' %}">Корзина</a>
  <div class="cart js-cart">
    <div class="cart-clear js-flush-cart">Очистить корзину</div>

    {% if cart|length %}
      <ul class="cart-item-list">
        {% for id, product in cart %}
          <li class="cart-item">
            <a class="cart-item-name" href="{{ product.url }}">
              {{ product.name }}
            </a>

            <div class="cart-item-sum">
              <span class="cart-item-price">{{ product.price|format_price }}</span>
              <span class="cart-item-count js-header-product-count">x {{ product.quantity }} шт.</span>
            </div>

            <i class="fa fa-close cart-item-remove icon-remove js-remove"
               data-product-id="{{ id }}" aria-hidden="true" title="Удалить товар"></i>
          </li>
        {% endfor %}
      </ul>
      <div class="cart-item-list-after"></div>

      <p class="cart-sum text-right"><strong>Итог: {{ cart.total_price|format_price }}</strong></p>
    {% else %}
      <h5 class="cart-empty-text text-center">Пока в корзине нет товаров.</h5>
    {% endif %}

    <div class="text-right">
      <a href="{% custom_url 'order' %}" class="btn cart-order-btn">Оформить заказ</a>
    </div>
  </div>
</div>
