{% extends 'pages/inner_page.html' %}

{% load widget_tweaks %}

{% block content %}
  {# TODO: `breadcrumbs` doesn't work #}
  {# {% include 'layout/breadcrumbs.html' %}#}

  <div class="container container-fluid">
    <h1 class="title-h1 catalog-h1">{{ page.h1 }}</h1>
  </div>

  <div class="container container-fluid">
    <p>Для заказа изделий по индивидуальным чертежам воспользуйтесь формой ниже:</p>
    <form action="" method="post" class="drawing-order-form" id="drawing-order-form">
      {% csrf_token %}
      {% for field in form %}
        <tr>
          <td>
            {{ field.label_tag }}
            {{ field.errors }}
          </td>
          <td>
            {{ field|add_class:"form-control" }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td>
          <input class="button btn btn-red btn-order-send" id="btn-drawing-submit"
                 value="Отправить заявку" type="submit" name="submit">
        </td>
      </tr>
    </form>
  </div>
{% endblock %}
