{% load staticfiles %}
{% load widget_tweaks %}
{% load stb_extras %}

{% if not cart %}
  <h2 class="text-center">Нет выбранных позиций</h2>
  <p class="text-center">Если вы не нашли изделие <a href="{% url 'category_tree' %}">в каталоге</a>,
    <br>мы изготовим его <a href="{% url 'order_drawing' %}">по вашим чертежам</a>.
  </p>
{% else %}
  <section class="order">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <h2 class="order-title">Ваш заказ</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <table class="order-table">
            <thead>
              <tr>
                <th class="order-table-th order-table-th-name">Наименование</th>
                <th class="order-table-th order-table-th-count">Кол-во</th>
                <th class="order-table-th order-table-th-price">Цена</th>
              </tr>
            </thead>
            <tbody>
              {% for id, product in cart %}
                <tr class="js-product-row" data-product-id="{{ id }}">
                  <td class="order-table-name">
                    <a href="{{ product.url }}">{{ product.name }}</a>
                  </td>
                  <td class="order-table-count">
                    {% include 'catalog/count_input.html' %}
                  </td>
                  <td class="order-table-price">
                    {{ product.price|format_price }}
                    <i class="fa fa-times order-icon-remove icon-remove js-remove"
                       aria-hidden="true" title="Удалить товар"></i>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-7 col-xs-4">
          <div class="order-total">
            <span class="order-total-title">Итог:</span>
            <span class="order-total-val">{{ cart.total_price|format_price }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="order-contacts">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h2 class="order-contacts-heading">Контакты</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-2 col-xs-7">
          {% include 'ecommerce/order_form.html' %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
