{% load widget_tweaks %}
{% load pages_extras %}

<form action="{% custom_url 'order' %}" method="post" id="shop-order-form"> {% csrf_token %}
  <div class="order-contacts-label">
    Имя
  </div>
  <div class="order-contacts-input">
    {{ form.name|add_class:'order-contacts-input-field input-rectangular' }}
    {% include 'components/input_validation_icons.html' %}
  </div>

  <div class="order-contacts-label">
    Телефон
    <span class="order-contacts-label-asterisk">*</span>
  </div>
  <div class="order-contacts-input">
    {{ form.phone|add_class:'order-contacts-input-field input-rectangular js-masked-phone' }}
    {% include 'components/input_validation_icons.html' %}
    {{ form.phone.errors }}
  </div>

  <div class="order-contacts-label">
    Электронная почта
    <span class="order-contacts-label-asterisk">*</span>
  </div>
  <div class="order-contacts-input">
    {{ form.email|add_class:'order-contacts-input-field input-rectangular' }}
    {% include 'components/input_validation_icons.html' %}
    {{ form.email.errors }}
  </div>

  <div class="order-contacts-label">
    Полное название организации
    <span class="order-contacts-label-asterisk">*</span>
  </div>
  <div class="order-contacts-input">
    {{ form.company|add_class:'order-contacts-input-field input-rectangular' }}
    {% include 'components/input_validation_icons.html' %}
    {{ form.company.errors }}
  </div>

  <div class="order-contacts-label">
    Адрес поставки
    <span class="order-contacts-label-asterisk">*</span>
  </div>
  <div class="order-contacts-input">
    {{ form.address|add_class:'order-contacts-textarea' }}
    {% include 'components/input_validation_icons.html' %}
    {{ form.address.errors }}
  </div>

  <div class="order-contacts-label">
    Комментарий к заказу
  </div>
  <div class="order-contacts-input">
    {{ form.comment|add_class:'order-contacts-textarea' }}
    {{ form.comment.errors }}
  </div>

  <div class="text-right">
    <input type="submit" value="Отправить" class="btn order-contacts-submit-btn">
  </div>
</form>
