{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Оформление запроса на прайс ЖБИ{% endblock %}
{% block keywords %}прайс лист жби{% endblock %}
{% block description %}Оформить заявку на прайслист ЖБИ завода СТК-Промбетон{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/pages.min.css' %}">
{% endblock %}

{% block main-content %}
  <h1>Оформление запроса на прайс ЖБИ</h1>
  <form method="post" action="" id="order-price-form" class="order-price-form">
    {% csrf_token %}
    {% for field in form %}
      <tr>
        <td>
          {{ field.label_tag }}
          {{ field.errors }}
        </td>
        <td>
          {{ field|add_class:"form-control" }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td align="left">
        <button class="btn btn-lg btn-success order-price" type="submit" name="get-price-list" style="width: 125px">
          Заказать
        </button>
      </td>
    </tr>
  </form>
{% endblock %}