@import "../utilities/mixins";
@import "../utilities/variables";

::selection {
  background-color: $c-orange;
  color: $c-white;
}

body {
  background: $c-white;
  color: $c-text;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  min-height: 100vh;

  .hidden {
    display: none;
  }
}

a {
  @include transition;
  color: $c-link;

  &:hover {
    color: $c-link-hover;
  }
}

.content {
  flex: 1 0 auto;
  padding: #{$h-header - 10} 0 50px;

  @include media($md) {
    padding: $h-header 0;
  }
}

.separator {
  border-bottom: 1px solid $c-separator-grey;
  padding: 0 0 30px;
  margin: 0 0 30px;
}

.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}

.heading {
  &-h1 {
    font-size: $f-size-base + 5;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;

    @include media($md) {
      font-size: $f-size-base + 18;
    }
  }

  &-h2 {
    font-size: $f-size-base + 14;
  }

  &-h3 {
    font-size: $f-size-base + 10;
  }
}

.more-link {
  color: $c-btn-orange;
  cursor: pointer;
  display: inline-block;
  font-size: $f-size-base + 1;
  font-weight: 600;
  padding: 5px 0;

  &-arrow {
    @include transition;
    font-size: $f-size-base - 4;
    margin-left: 2px;
    position: relative;
    top: -1px;
  }

  &:hover {
    color: $c-btn-orange-hover;

    .more-link-arrow {
      transform: translateX(3px);
    }
  }

  &:active {
    color: $c-btn-orange-active;
  }
}

.paddingless {
  padding: 0;
}

.marginless {
  margin: 0;
}

.mm-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.public-offer {
  color: $c-text-muted;
  font-size: $f-size-base - 2;
  margin: 15px 0 0;
  text-align: center;
  width: 100%;

  @include media($sm) {
    text-align: right;
  }
}

.success-page {
  &-text {
    font-size: $f-size-base + 3;
    margin: 0 0 30px;
  }
}

.icon-remove.fa {
  @include transition(color);
  color: $c-icon-remove;
  cursor: pointer;
  font-size: $f-size-base;
  position: absolute;

  &:hover {
    color: $c-black;
  }
}

.mobile-cart {
  background: $c-orange;
  bottom: 0;
  color: $c-white;
  font-size: $f-size-base - 1;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include media($sm) {
    display: none;
  }

  &-price {
    color: $c-white;
    text-decoration: none;
  }

  &-link.btn {
    font-size: $f-size-base;
    padding: 7px 20px 8px;
    position: absolute;
    right: 10px;
    top: 6px;

    @include media($sm) {
      font-size: $f-size-base + 4;
      padding: 9px 30px 10px;
    }
  }
}
