// ================================================================
// COMMON STYLES
// ================================================================
::selection {
  background-color: $c-selection;
  color: $c-white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $c-link;
  transition: color 0.2s ease;

  &:hover {
    color: $c-link-hover;
  }
}

.more-link {
  color: $c-btn-orange;
  font-size: $f-size-base - 3;
  font-weight: 600;
  line-height: 1.23;
  text-align: right;

  &-arrow {
    margin-left: 5px;
    font-size: $f-size-base - 6;
  }

  &:hover {
    color: $c-btn-orange-hover;
  }

  &:active {
    color: $c-btn-orange-active;
  }
}

// ================================================================
// HEADER
// ================================================================
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

// ================================================================
// NAVIGATION
// ================================================================
.nav {
  position: relative;
  right: -14px;

  &-wrapper {
    height: $h-nav;
    background-color: $c-nav-bg;
  }

  &-logo {
    margin-top: 8px;
  }

  &-item {
    float: left;
    display: block;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    display: block;
    padding: 18px 14px;
    color: $c-nav-link;
    font-size: $f-size-base;
    font-weight: 400;
    line-height: 1.25;

    &:hover {
      color: $c-nav-link-hover;
    }
  }

  &-chart {
    color: $c-nav-link-chart;

    &:hover {
      color: $c-nav-link-chart-hover;
    }
  }

  &-cart-button:hover {
    .navbar-chart {
      display: block;
    }
  }
}

.nav-chart {
  display: none;
  position: absolute;
  right: 15px;
  top: 45px;
  padding: 12px 16px 16px;
  width: 324px;
  background-color: $c-white;
  border-radius: 2px;
  box-shadow: $sh-modal;

  &-clear {
    margin-bottom: 21px;
    font-size: $f-size-base - 3;
    font-weight: 600;
    line-height: 1.23;
    text-align: right;
    color: $c-nav-chart-clear;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $c-nav-chart-clear-hover;
    }

    &:active {
      color: $c-nav-chart-clear-active;
    }
  }

  &-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &-name {
      margin-bottom: 5px;
      color: $c-nav-chart-item-name;
    }

    &-price {
      margin-right: 4px;
      font-size: $f-size-base - 4;
      font-weight: 600;
      line-height: 1.33;
      color: $c-nav-chart-item-price;
    }

    &-count {
      font-size: $f-size-base - 2;
      font-weight: 300;
      line-height: 1.14;
      letter-spacing: -0.2px;
      color: $c-nav-chart-item-count;
    }

    &-remove {
      position: absolute;
      right: -6px;
      top: 0;
      padding: 2px;
      color: $c-nav-chart-item-remove;
      cursor: pointer;
    }
  }

  &-order {
    padding-top: 19px;
    text-align: right;

    &-btn {
      padding: 4px 18px 6px;
      font-size: $f-size-base;
    }
  }
}

.nav-subnav {
  background-color: $c-white;
  border-radius: 2px;
  box-shadow: $sh-modal;
  display: none;
  left: 2px;
  padding: 16px 12px;
  position: absolute;
  transition: opacity 0.3s ease;
  top: 42px;
  width: 360px;

  .nav-item:hover & {
    display: block;
  }

  &-item {
    margin-bottom: 4px;

    &-link {
      font-size: $f-size-base - 2;
      font-weight: 300;
      line-height: 1.14;
      letter-spacing: -0.2px;
      color: $c-nav-subnav-link;
    }

    &-link:hover {
      color: $c-nav-subnav-link-hover;
    }
  }
}

// ================================================================
// SEARCH
// ================================================================
.search {
  position: relative;

  &-field {
    width: 100%;
    height: 26px;
    padding: 2px 48px 3px 12px;
    font-size: $f-size-base - 2;
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: -0.0125em;
    color: $c-search-text;
    background-color: $c-white;
    border: 0;
    border-radius: 13px;
    box-shadow: $sh-search;
    transition: box-shadow 0.2s ease;

    &:focus {
      box-shadow: $sh-search-focus;
    }
  }

  &-btn {
    background: none;
    border: 0;
    color: $c-btn-search;
    cursor: pointer;
    font-size: $f-size-base - 1;
    line-height: 1;
    padding: 5px 18px;
    position: absolute;
    right: 0;
    top: 0;
    transition: color 0.3s ease;

    &:hover {
      color: $c-btn-search-hover;
    }
  }

  &-inner {
    // TODO: Should be deleted after styling autocomplete lib.
    display: none;
    position: absolute;
    left: 0;
    top: 29px;
    padding: 12px 0;
    width: 360px;
    text-align: left;
    background-color: $c-white;
    border-radius: 2px;
    box-shadow: $sh-modal;
  }

  &-more {
    margin-bottom: 9px;

    &-link {
      padding: 5px 10px;
    }
  }

  &-item {
    &:hover {
      background: $c-search-link-hover;
    }

    &-link {
      color: $c-search-link;
      display: flex;
      font-size: $f-size-base - 2;
      font-weight: 300;
      padding: 5px 10px;
    }

    &-price {
      margin-left: auto;
    }
  }
}

// ================================================================
// SEARCH BAR
// ================================================================
.searchbar {
  height: $h-searchbar;
  transition: all 0.3s ease;

  &.active {
    background-color: $c-searchbar-bg;
    left: 0;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1;
  }

  &-wrap {
    padding-top: 9px;
  }

  &-contacts {
    display: flex;
    padding-top: 11px;

    &-item {
      color: $c-white;
      font-size: $f-size-base - 1;
      font-weight: 600;
      margin-right: 28px;
    }

    &-link {
      color: $c-white;
    }

    &-link:hover {
      color: $c-application-bg;
    }
  }
}

// ================================================================
// BREADCRUMBS
// ================================================================
.breadcrumbs {
  padding: 59px 0;
  color: $c-path;
  font-size: $f-size-base - 3;

  &-link {
    font-weight: 600;
    line-height: 1.23;
    color: $c-path;

    &:hover {
      color: $c-path-hover;
    }

    &:active {
      color: $c-path-active;
    }
  }
}

// ================================================================
// FOOTER
// ================================================================
.footer {
  padding: 46px 0 32px;
  background-color: $c-footer-bg;

  &-list {
    &-h3 {
      margin-bottom: 16px;
      font-size: $f-size-base - 2;
      font-weight: 700;
      line-height: 1.43;
      letter-spacing: 0.0125em;
      color: $c-footer-headers;
    }

    &-item {
      margin-bottom: 8px;
      font-size: $f-size-base - 2;
      font-weight: 300;
      letter-spacing: -0.0125em;
      color: $c-footer-li;
    }

    &-link {
      color: $c-footer-li;
    }
  }

  &-contacts {
    text-align: right;

    &-brand {
      margin-bottom: 20px;
    }

    &-email {
      margin-bottom: 32px;
    }
  }

  &-copy-row {
    margin-top: -25px;
  }

  &-copy {
    font-size: $f-size-base - 2;
    font-weight: 300;
    color: $c-copyright;

    &-rights {
      font-size: $f-size-base - 2;
    }

    &-bold {
      font-weight: 400;
    }

    &-link {
      color: $c-copyright;
    }
  }
}

// ================================================================
// MODAL
// ================================================================
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;

  &-row {
    height: 100%;
  }

  &-call {
    position: relative;
    background-color: $c-white;
    border-radius: 2px;
    box-shadow: $sh-modal;
    padding: 0 0 25px;
  }

  &-h3 {
    padding: 24px 0 32px;
    font-size: $f-size-base + 4;
    font-weight: 600;
    text-align: center;
    color: $c-modal-h3;
  }

  &-line {
    text-align: left;
    padding: 0 16px;
    font-size: 0;
    margin-bottom: 20px;

    &-label {
      display: inline-block;
      width: 100px;
      font-size: $f-size-base;
      font-weight: 600;
      color: $c-modal-label;
    }

    &-label-asterisk {
      color: $c-modal-label-asterisk;
      font-size: $f-size-base - 2;
    }

    &-input {
      width: 340px;
      padding: 8px 19px;
      font-size: $f-size-base;
      font-weight: 400;
      color: $c-modal-input;
      border-radius: 4px;
      border: solid 1px $c-modal-input-border;
    }

    &-status {
      display: none;
      margin-left: 9px;
      font-size: $f-size-base - 5;
      vertical-align: 2px;
    }

    &-status-check {
      color: $c-modal-status-check;
    }

    &-status-fail {
      color: $c-modal-status-fail;
    }
  }

  &-close {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 12px;
    color: $c-modal-close;
    cursor: pointer;
  }
}

// ================================================================
// POPOVER
// ================================================================
.popover {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-bottom: 17px;
  padding: 28px 10px;
  border: solid 1px $c-popover-border;
  font-size: $f-size-base + 2;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  color: $c-popover;
  border-radius: 4px;
  width: 300px;
  margin-left: -150px;
  background-color: $c-white;

  &-arrow {
    position: absolute;
    left: 50%;
    bottom: -13px;
    margin-left: -13px;
    width: 24px;
    height: 24px;
    background-color: $c-white;
    border-bottom: solid 1px $c-popover-border;
    border-right: solid 1px $c-popover-border;
    transform: rotate(45deg);
  }
}
