@import "../utilities/variables";
@import "../utilities/mixins";

.content {
  .index & {
    padding-top: $h-nav-mob;

    @include media($md) {
      padding-top: $h-nav-pc;
    }
  }

  &-h2 {
    font-size: $f-size-base + 18;
    font-weight: 300;
    line-height: 1.18;
    color: $c-about-h2;
  }
}

// ================================================================
// BANNER
// ================================================================
.banner {
  background: $c-orange;
  background: linear-gradient(to bottom, $c-banner-01, $c-banner-02);
  color: $c-white;
  padding-top: 20px;

  @include media($sm) {
    background: url("#{$img-path}/header-image.jpg") center no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 39px;
  }

  @include media($md) {
    height: 444px;
  }

  &-address {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: right;

    @include media($sm) {
      margin-bottom: 38px;
    }

    @include media($md) {
      margin-bottom: 48px;
    }
  }

  &-name {
    &-h1 {
      font-size: $f-size-base + 14;
      line-height: 1.19;
      margin-bottom: 19px;

      @include media($md) {
        font-size: $f-size-base + 36;
        font-weight: 700;
      }
    }

    &-h2 {
      font-size: $f-size-base + 4;
      line-height: 1.18;
      margin-bottom: 20px;

      @include media($md) {
        font-size: $f-size-base + 18;
        margin-bottom: 118px;
      }
    }
  }
}

.application {
  background-color: $c-application-bg;
  color: $c-white;
  padding: 15px 0;

  @include media($md) {
    height: 63px;
    padding: 0;
  }

  &-title {
    font-size: $f-size-base - 2;
    margin: 0 0 15px;

    @include media($md) {
      margin: 22px 0 0;
    }
  }

  &-btn {
    @include media($md) {
      margin: 10px 0 0;
    }
  }
}

.catalog-section {
  padding: 30px 0 0;

  @include media($sm) {
    padding: 50px 0 40px;
  }

  &-image {
    height: 290px;
    margin-bottom: -15px;
  }
}

.btn-catalog {
  margin-bottom: 15px;

  @include media($md) {
    margin: 0;
  }
}

// ================================================================
// OFFER
// ================================================================
.offer {
  padding: 30px 0;

  @include media($md) {
    padding: 40px 0 80px;
  }

  &-item {
    display: block;

    &-image {
      @include transition;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
    }

    &-image-hover {
      opacity: 0;
    }
  }

  &-image {
    position: relative;
    height: 116px;

    @include media($md) {
      margin-bottom: 40px;
    }
  }

  &-item:hover {
    .offer-item-image-nohover {
      opacity: 0;
    }

    .offer-item-image-hover {
      opacity: 1;
    }

    .offer-item-title {
      color: $c-offer-title-hover;
    }
  }

  &-item:active {
    .offer-item-image-nohover {
      opacity: 1;
    }

    .offer-item-image-hover {
      opacity: 0;
    }

    .offer-item-title {
      color: $c-offer-title;
    }
  }
}

.offer-item-title {
  @include transition;
  color: $c-offer-title;
  font-size: $f-size-base + 4;
  line-height: 1.7;
  margin-bottom: 40px;

  @include media($md) {
    margin-bottom: 0;
    white-space: nowrap;
  }

  &-chevron.fa {
    font-size: $f-size-base + 2;
    margin: -1px 0 0 7px;
  }
}

// ================================================================
// ABOUT
// ================================================================
.about {
  background-color: $c-about-bg;
  margin: 0 0 30px;
  padding: 25px 0;

  @include media($md) {
    margin: 0;
    padding: 40px 0 30px;
  }

  &-h2 {
    @include media($sm) {
      margin: 0 0 20px;
    }
  }

  &-text {
    font-size: $f-size-base + 2;
    line-height: 1.33;

    &-p:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &-more {
    margin-top: 16px;
    text-align: right;
  }
}

// ================================================================
// OBJECTS MAP
// ================================================================
.objects {
  padding: 10px 0 20px;

  @include media($sm) {
    padding: 44px 0;
  }

  &-map {
    margin: 0 auto;
  }

  &-title {
    position: relative;

    &-h2 {
      left: 0;
      position: absolute;
      top: 42px;

      @include media($sm) {
        left: 89px;
      }
    }
  }
}

.map-region {
  @include transition(fill);
  cursor: default;
  fill: $c-region-fill;

  &.active {
    fill: lighten($c-region-fill-hover, 15%);
  }

  &.active:hover {
    cursor: pointer;
    fill: $c-region-fill-hover;
  }
}
// ================================================================
// PARTNERS
// ================================================================
.partners {
  display: none;

  @include media($md) {
    display: block;
  };

  &-title {
    margin-bottom: 40px;
  }

  &-item {
    margin-bottom: 45px;

    &-title {
      color: $c-text;
      font-size: $f-size-base - 3;
      margin-top: 10px;
      width: 90%;
    }
  }

  &-image {
    max-width: 200px;
  }
}

// ================================================================
// NEWS
// ================================================================
.news {
  padding: 0 0 20px;

  @include media($md) {
    padding: 0 0 50px;
  }

  &-h2 {
    margin: 0 0 $mob-gutter-width;

    @include media($md) {
      margin: 0 0 40px;
    }
  }

  &-img-wrapper {
    display: none;

    @include media($md) {
      align-items: baseline;
      display: flex;
      flex: 0 0 160px;
      position: relative;
    }
  }

  &-text-wrapper {
    color: $c-text;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;

    @include media($sm) {
      padding: 15px 20px;
    }

    &::after {
      background: linear-gradient(to bottom, rgba($c-teaser-bg, 0.5), $c-teaser-bg 40%);
      bottom: 0;
      content: "";
      height: 40px;
      position: absolute;
      width: 100%;
    }
  }

  &-item {
    @include teaser-box;
    margin: 0 -#{$mob-gutter-width} $mob-gutter-width;

    @include media($sm) {
      height: 160px;
      margin: 0 0 33px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      display: flex;
      height: 100%;
    }

    &-title {
      font-weight: 600;
      padding: 0 0 10px;
    }

    &-short {
      padding: 0 0 5px;
    }
  }

  &-date {
    color: $c-text-grey;
    font-size: $f-size-base - 2;
    margin-bottom: 10px;

    @include media($sm) {
      font-size: $f-size-base;
    }
  }

  &-list {
    margin-bottom: 20px;
  }
}

// ================================================================
// FEEDBACKS
// ================================================================
.feedbacks {
  padding: 0 0 20px;

  @include media($sm) {
    padding: 0 0 50px;
  }

  &-heading {
    text-align: center;

    @include media($sm) {
      margin: 0 0 40px;
      text-align: left;
    }
  }

  &-img {
    box-shadow: 0 0 0 1px $c-feedbacks-img-border;
    cursor: pointer;
    display: inline-flex;
    margin: 0 0 15px;

    @include media($md) {
      display: block;
    }
  }

  &-text {
    margin: 0 0 50px;
  }

  &-more {
    border-bottom: 1px solid $c-feedbacks-bot-line;
    padding-bottom: 15px;
    text-align: right;
  }
}
