/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-offer-commercial-disable {
  background-image: url(../images/sprite-main.png);
  background-position: 0px 0px;
  width: 96px;
  height: 112px;
}
.icon-offer-commercial-hover {
  background-image: url(../images/sprite-main.png);
  background-position: -96px 0px;
  width: 96px;
  height: 112px;
}
.icon-offer-commercial {
  background-image: url(../images/sprite-main.png);
  background-position: -192px 0px;
  width: 96px;
  height: 112px;
}
.icon-offer-draft-disable {
  background-image: url(../images/sprite-main.png);
  background-position: 0px -112px;
  width: 96px;
  height: 112px;
}
.icon-offer-draft-hover {
  background-image: url(../images/sprite-main.png);
  background-position: -96px -112px;
  width: 96px;
  height: 112px;
}
.icon-offer-draft {
  background-image: url(../images/sprite-main.png);
  background-position: -192px -112px;
  width: 96px;
  height: 112px;
}
.icon-offer-pricelist-disable {
  background-image: url(../images/sprite-main.png);
  background-position: -288px 0px;
  width: 96px;
  height: 112px;
}
.icon-offer-pricelist-hover {
  background-image: url(../images/sprite-main.png);
  background-position: -288px -112px;
  width: 96px;
  height: 112px;
}
.icon-offer-pricelist {
  background-image: url(../images/sprite-main.png);
  background-position: 0px -224px;
  width: 96px;
  height: 112px;
}
