{% extends "layout/base.html" %}
{% load staticfiles %}

{% block content %}
  <style>
    .error-404-title {
      font-size: 30px;
      margin: 30px 0;
    }

    .error-404-img-wrapper {
      margin: 10px 0 25px;
    }
  </style>

  <div class="text-center">
    <h1 class="error-404-title">Запрашиваемая Вами страница не найдена</h1>
    <div class="error-404-img-wrapper">
      <img src="{% static 'images/404.jpg' %}">
    </div>
    <a class="btn btn-red btn-large" href="/">На главную</a>
  </div>
{% endblock %}
