{% load stb_extras %}
{% get_roots as roots %}

<div class="menu-v-content-wrapper">
  <div class="menu-v-content">
    <section class="accordion js-accordion" id="accordion">
      {% for root in roots %}
        <div class="accordion-title js-accordion-title" id="cat-{{ root.id }}">{{ root.name }}<i
            class="fa fa-caret-left"></i></div>
        <div class="accordion-content js-accordion-content" id="content-{{ root.id }}" style="display: none;">
          <p class="accordion-last-paragraph">
            <a class="accordion-link-to-category" href="{{ root.get_absolute_url }}">перейти в категорию<i
                class="fa fa-long-arrow-right"></i></a>
          </p>
            {% for child in root.get_children_sorted_by_position %}
              <p><a class="accordion-link" href="{{ child.get_absolute_url }}">{{ child.name }}</a></p>
            {% endfor %}
        </div>
      {% endfor %}
    </section>
  </div>
</div>
