<div class="modal js-modal container container-fluid">
  <div class="modal-row row middle-xs center-xs">
    <div class="col-xs-6">
      <div class="modal-call">
        <h3 class="modal-h3">Заказ обратного звонка</h3>
        <form action="">
          <div class="modal-line">
            <span class="modal-line-label">Имя</span>
            <input class="modal-line-input" type="text">
            <i class="fa fa-check modal-line-status modal-line-status-check" aria-hidden="true"></i>
            <i class="fa fa-times modal-line-status modal-line-status-fail" aria-hidden="true"></i>
          </div>
          <div class="modal-line">
            <span class="modal-line-label">
              Телефон <span class="modal-line-label-asterisk">*</span>
            </span>
            <input class="modal-line-input" type="text">
            <i class="fa fa-check modal-line-status modal-line-status-check" aria-hidden="true"></i>
            <i class="fa fa-times modal-line-status modal-line-status-fail" aria-hidden="true"></i>
          </div>
          <div>
            <input type="submit" class="btn modal-btn" value="Отправить">
          </div>
        </form>

        <i class="fa fa-close modal-close js-modal-close" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
