{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  {% if page %}
    {% include 'layout/metadata.html' with page=page only %}
  {% endif %}

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  {% endblock %}
</head>

<body>
{% block header %}
  {% include 'layout/header.html' %}
{% endblock %}

<div class="content">
  {% block content %}{% endblock %}
</div>

{% block footer %}
  {% include 'layout/footer.html' %}
{% endblock %}

{% block backcall_modal %}
  {% include 'layout/backcall_modal.html' %}
{% endblock %}

<div class="btn btn-scroll-to-top" id="btn-scroll-to-top">Наверх</div>

{% block jslibs %}
  <script src="{% static 'js/vendors.min.js' %}"></script>
{% endblock %}

{% block jslinks %}
  <script src="{% static 'js/main.min.js' %}"></script>
{% endblock %}

{% include 'layout/marketing.html' %}
</body>
</html>
