{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_head_tag=True %}
  {% if page %}
    {% include 'components/metadata.html' with page=page only %}
  {% endif %}

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_body_tag=True %}

  <header class="header">
    {% include 'components/navigation_bar.html' %}

    {% block search_bar %}
      <div class="searchbar js-searchbar">
        {% include 'components/search_bar.html' %}
      </div>
    {% endblock %}
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
    {% include 'layout/footer.html' %}
  {% endblock %}

  {% block backcall_modal %}
    {% include 'ecommerce/order/backcall_modal.html' %}
  {% endblock %}

  <div class="btn btn-scroll-to-top" id="btn-scroll-to-top">Наверх</div>

  {% block jslibs %}
    <script src="{% static 'js/main-vendors.min.js' %}"></script>
  {% endblock %}

  {% block jslinks %}
    <script src="{% static 'js/main.min.js' %}"></script>
  {% endblock %}
</body>
</html>
