{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_head_tag=True %}
  {% include 'components/metadata.html' with page=page only %}

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  {% endblock %}

  <!--[if lt IE 10 ]>
    <link rel="stylesheet" href="{% static 'css/ie.min.css' %}">
  <![endif]-->
</head>

<body class="{% block body_class %}{% endblock %}">
  <div id="desktop-wrapper">
    <header class="header">
      {% include 'components/navigation_bar.html' %}

      {% block search_bar %}
        <div class="searchbar js-searchbar">
          {% include 'components/search_bar.html' %}
        </div>
      {% endblock %}
    </header>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
      {% include 'layout/footer.html' %}
    {% endblock %}

    {% block mobile_cart %}
      {% include 'layout/mobile_cart.html' %}
    {% endblock %}
  </div>

  {% block mobile_nav %}
    {% include 'layout/mobile_nav.html' %}
  {% endblock %}

  {% block modals %}
    {% block backcall_modal %}
      {% include 'ecommerce/order/backcall_modal.html' %}
    {% endblock %}
  {% endblock %}

  <div class="btn btn-scroll-to-top" id="btn-scroll-to-top">Наверх</div>

  {% block jslibs %}
    <script src="{% static 'js/main-vendors.min.js' %}"></script>
    <!--[if lt IE 10]>
      <script src="{% static 'js/ie-vendors.min.js' %}"></script>
    <![endif]-->
  {% endblock %}

  {% block jslinks %}
    <script src="{% static 'js/main.min.js' %}"></script>
  {% endblock %}
</body>
</html>
