<div class="location">
  <span class="location section">
    <a href="/">Главная</a>
  </span>

  <span class="location separate">»</span>

  <span class="location section">
    <a href="{% url 'category_tile' %}">Дорожное строительство</a>
  </span>

  <span class="location separate">»</span>

  <span class="location section">
    <a href="{% url 'category_tile' %}">Подпорные стены</a>
  </span>

  <span class="location separate">»</span>

  <span class="location section">
    <a href="{% url 'category_table' %}">Плиты подпорных стенок. Серия 3.002.1-1, выпуск 1</a>
  </span>
</div>
