<div id="cart-dropdown">
  <div id="shop-cart" class="shop-cart">
    <a href="/order/">
      <div id="cartInner" class="{% if products.length > 0 %}cart-full{% else %}cart-empty{% endif %}">
        <div class="basket-content">{{ products.length }}</div>
      </div>
    </a>
  </div>

  <div id="dropdown-basket" class="mbasket-items">
    <table width="100%">
      {% for product in products %}
        <tr class="cart-order">
          <td align="right" nowrap="">
            <a href="{{ url }}" title="{{ name }}"><b>{{ name }}</b></a>
          </td>
          <td align="center" nowrap>
            {% if price %}
              {{ price }} руб.
            {% else %}
              По запросу
            {% endif %}
          </td>
          <td align="center" class="count-spinner" nowrap>{{ count }} шт.</td>
          <td align="center">
            <a title="Удалить" class="shk-del"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      {% endfor %}
      <tr class="cart-order">
        <td align="right" nowrap><strong>Итого:</strong></td>
        <td align="center" nowrap>getTotalPrice()</td>
        <td align="center"><a title="Удалить все" class="shk-del">Удалить все</a></td>
      </tr>
    </table>
    <span class="empty-cart-dropdown">Нет выбранных позиций. Перейти к
      <a id="catalog-link" href="/visual/">каталогу</a>.</span>
  </div>
</div>
