{% load pages_extras %}
{% load static %}

<footer class="footer">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-offset-1">
        <div class="footer-list">
          <h3 class="footer-list-h3">ЗАКАЗ</h3>
          <ul>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'pages:flat_page' 'ordering' %}">Как оформить</a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'pages:flat_page' 'delivery' %}">Доставка</a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% custom_url 'regions' %}">Наши объекты</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="footer-list">
          <h3 class="footer-list-h3">КАТАЛОГ</h3>
          <ul>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'category' '457' %}">
                Дорожное строительство
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'category' '456' %}">
                Общегражданское и промышленное строительство
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'category' '458' %}">
                Строительство инженерных сетей
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'category' '459' %}">
                Строительство энергетических объектов
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-2">
        <div class="footer-list">
          <h3 class="footer-list-h3">О КОМПАНИИ</h3>
          <ul>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'pages:flat_page' 'proizvodstvo-gbi' %}">
                Производство
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'pages:flat_page' 'req' %}">Реквизиты</a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% custom_url 'news' %}">
                Новости
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'pages:flat_page' 'contacts' %}">
                Контакты
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% url 'pages:flat_page' 'partners' %}">
                Наши партнёры
              </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-list-link" href="{% custom_url 'sitemap' %}">
                Карта сайта
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 center-sm col-md-4 col-lg-3 start-md">
        <div class="footer-list footer-contacts">
          {# `vcard` class is required for microformating #}
          <ul class="vcard">
            <li class="footer-list-item footer-contacts-brand">
              <a href="#">
                <img class="photo" src="{% static 'images/common/logo.svg' %}" alt="СТК Модуль">
              </a>
            </li>
            <li class="footer-list-item code fn org">СТК Модуль</li>
            <li class="footer-list-item tel">
              <span class="type">Санкт-Петербург</span>
              <a class="footer-list-link value" href="{{ site_info.phone.spb_1_url }}">
                {{ site_info.phone.spb_1 }}
              </a>
            </li>
            <li class="footer-list-item tel">
              <span class="type">Москва</span>
              <a class="footer-list-link value" href="{{ site_info.phone.moscow_1_url }}">
                {{ site_info.phone.moscow_1 }}
              </a>
            </li>
            <li class="footer-list-item footer-contacts-email email">
              <a class="footer-list-link" href="mailto:{{ site_info.email }}">
                {{ site_info.email }}
              </a>
            </li>
            <li class="footer-list-item">
              Адрес офиса продаж:
            </li>
            <li class="footer-list-item">
              <address class="adr">
                <span class="locality">СПб</span>,
                <span class="street-address">пр.&nbsp;Елизарова&nbsp;38А, офис&nbsp;218</span>
              </address>
            </li>
            <li class="footer-list-item">
              <span class="workhours">пн-пт 9:00-18:00</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row footer-copy-row">
      <div class="col-xs-12 center-sm col-md-offset-1 start-md">
        <div class="footer-copy">
          <p>
            <small class="footer-copy-rights">Все права защищены. 2009-{% now 'Y' %}
            ООО&nbsp;<b class="footer-copy-bold">«СТК-Модуль»</b>
            (Москва, Санкт-Петербург).</small>
          </p>
          <p>
            Делаем сложные магазины.
            <a class="footer-copy-link"
               href="https://fidals.com/blog/stb-project.html?utm_source=STB_site&amp;utm_medium=backlink&amp;utm_campaign=backlink_traffic"
               target="_blank">Fidals.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
