<ul class="list-unstyled navigation menu">
  <li><a href="/">Главная</a></li>
  <li><a href="#">Оформление заказа</a></li>
  <li><a href="#">Доставка</a></li>
  <li><a href="#">Производство</a></li>
  <li><a href="#">Наши объекты</a></li>
  <li><a href="#">О компании</a></li>
  <li><a href="#">Контакты</a></li>
  <li>
    <div id="sticky-wrapper" class="basket-sticky-wrapper basket-sticky">
      <div class="basket basket-sticky">
        <div class="menu-basket">{% include 'layout/cart.html' %}</div>
      </div>
    </div>
  </li>
</ul>
