<div class="search-form">
  <table>
    <tbody>
    <tr>
      <td class="search-form-title">Поиск в каталоге продукции:</td>
        <form class="navbar-form search-form js-search-form" action="{% url 'search' %}" method="get">
          <td class="search-form-input">
            <input class="search-input js-autocomplete ui-autocomplete-input" id="search_condition" name="search"
                   type="text" placeholder="Запрос для поиска ..." autocomplete="off" role="textbox" aria-autocomplete="list"
                   aria-haspopup="true">
          </td>
          <td class="search-form-submit">
            <input class="btn-gray btn-search-action" id="search-submit" type="submit" value="Найти">
          </td>
        </form>
      </tr>
    </tbody>
  </table>
</div>

