{% load staticfiles %}
{% load stb_extras %}

<div class="menu-v">
  {% include 'layout/accordion.html' %}

  <div class="OrderPrice">
    <a class="a_price" href="/order-price/">
      <img src="{% static 'images/order-price.png' %}" title="Прайс-листы на изделия"
           alt="Прайс-листы на конструкции">
    </a>
  </div>

  <div class="OrderDraw">
    <a href="/order-drawing/">
      <img src="{% static 'images/order-draw.png' %}" title="Изготовление изделий по индивидуальным чертежам"
           alt="Производство конструкций по индивидуальным чертежам">
    </a>
  </div>

  <div class="partners-table">
    <table class="partners-table">
      <tbody>
      <tr>
        <td>
          <a class="stkmodule-link" href="http://xn----htbqgdmrio5g.xn--p1ai/" target="_blank" rel="nofollow">
            <img class="img-responsive stk-logo" src="{% static 'images/stk-logo.png' %}" alt="СТК-Модуль">
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="partners-table">
    <table class="partners-table">
      <tbody>
      <tr>
        <td>
          <a class="stkmetall-card" rel="nofollow" target="_blank" href="http://www.stk-metal.ru/">
            <img src="{% static 'images/metall.png' %}" alt="stk-metal.ru" class="logo">
            <p>СТК-МЕТАЛЛ</p>
            <p class="partner-desc">завод металлоконструкций</p>
          </a>
        </td>
        <td>
          <p class="partners-text">
            C 2011 года мы рекомендуем завод СТК-Металл как поставщиков МК. Компания доставляет МК до строительных
            объектов по всей России. Если в вашем проекте требуются не только ЖБИ, но и МК, вы можете составить
            заявку для наших партнёров <a rel="nofollow" target="_blank" href="http://www.stk-metal.ru">на сайте
            СТК-Металла</a>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="partners-table">
    <table class="partners-table energo-table">
      <tbody>
      <tr>
        <td>
          <a class="stkmenergo-card" rel="nofollow" target="_blank" href="http://www.stkm-energo.ru/">
            <img src="{% static 'images/modul_energo_logo.png' %}" alt="stkm-energo.ru" class="logo">
          </a>
        </td>
        <td>
          <p class="partners-text">
            Для проектирования, строительства и монтажа энергетических объектов рекомендуем - "Модуль-Энерго".
            Связаться с нашими партнерами можно <a href="http://stkm-energo.ru/" target="_blank">через сайт</a>.
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
