@import "./variables";

// Text
@mixin white-text-shadow() {
  text-shadow: 1px 2px 2px rgba($c-black, 0.3);
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// Mediaqueries
// Live example: https://goo.gl/xs238n
@mixin media($breaks...) {
  // If there's only one breakpoint:
  @if (length($breaks) == 1) {
    $query: "(min-width: #{$breaks}px)";

    @media screen and #{$query} {
      @content;
    };
  }

  // If there's two breakpoints:
  @if (length($breaks) == 2) {
    $min: nth($breaks, 1);
    $max: nth($breaks, 2);

    // If first breakpoint is not number, we build just a max-width query:
    @if not (type-of($min) == "number") {
      $max-width: ($max - 1);
      $query: "(max-width: #{$max-width}px)";

      @media screen and #{$query} {
        @content;
      };
    }

    // If the two breakpoints are specified,
    // then we build a min-width AND max-width:
     @if (type-of($min) == "number") {
      $query: "(min-width: #{$min}px) and (max-width: #{$max}px)";

       @media screen and #{$query} {
        @content;
      };
    }
  }
}

// Justify children:
@mixin justify {
  position: relative;
  text-align: justify;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

// Links
@mixin grey-link {
  color: $c-link-grey;
  transition: color 0.3s ease;

  &:hover {
    color: $c-link-grey-hovered;
  }
}

// Boxes
@mixin teaser-box {
  background-color: $c-teaser-bg;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    background-color: $c-teaser-bg-hover;
    box-shadow: $sh-teaser;
  }
}

// Transition
@mixin transition(
  $property: all,
  $time: 0.3s,
  $easing: ease
) {
  transition: $property $time $easing;
}
