// ================================================================
// NORMALIZE
// ================================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
header,
section,
nav,
div,
ul,
li,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
  padding: 0;
  font-family: $f-family;
  outline: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}
