// ================================================================
// UTILITIES
// ================================================================
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// ================================================================
// PLACEHOLDERS
// ================================================================
@mixin grey-link {
  color: $c-link-grey;
  transition: color 0.3s ease;

  &:hover {
    color: $c-link-grey-hovered;
  }
}

@mixin teaser-box {
  background-color: $c-teaser-bg;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    background-color: $c-teaser-bg-hover;
    box-shadow: $sh-teaser;
  }
}
