// Paths:
$img-path: "../images";
$font-path: "../fonts";

// Theme colors
$c-black: #000;
$c-error-text: #ed0b00;
$c-icon-remove: #9b9b9b;
$c-link: #47a1d2;
$c-link-hover: #07d;
$c-orange: #fc7126;
$c-selection: #fc7126;
$c-separator-grey: #bababa;
$c-show-more-hover: #bd6739;
$c-show-more-active: #904f2b;
$c-show-more-disabled: #bababa;
$c-table-row-bg: #f2f2f2;
$c-text: #212121;
$c-text-orange: #fc7126;
$c-text-grey: #acacac;
$c-text-muted: #bababa;
$c-link-grey: #404040;
$c-link-grey-hovered: #979797;
$c-white: #fff;
$c-teaser-bg: #f8f8f8;
$c-teaser-bg-hover: #fbfbfb;

// Buttons
$c-btn-disabled: #bababa;
$c-btn-orange: #fc7126;
$c-btn-orange-hover: #bd6739;
$c-btn-orange-active: #904f2b;
$c-btn-search: #6d6c6c;
$c-btn-search-hover: #434343;
$c-btn-white-active: #9b9b9b;
$c-btn-white-bg-hover: #c3c3c3;

// Tables
$c-table-th: #263238;
$c-table-code: #263238;
$c-table-name: #212121;
$c-table-price: #2c2c2c;
$c-table-input: #404040;
$c-table-input-border: #ccc;
$c-table-caret: #9e9e9e;
$c-table-caret-hover: #404040;
$c-table-order: #fc7126;
$c-table-order-hover: #bd6739;
$c-table-order-active: #904f2b;
$c-table-btn: #fc7126;
$c-table-btn-hover: #bd6739;
$c-table-btn-active: #904f2b;
$c-product-table-border: #979797;

// Navigation
$c-nav-bg: #f3f3f3;
$c-nav-link-hover: #979797;
$c-nav-link-chart: #fc7126;
$c-nav-link-chart-hover: #bd6739;
$c-nav-chart-clear: #fc7126;
$c-nav-chart-clear-hover: #bd6739;
$c-nav-chart-clear-active: #904f2b;
$c-nav-chart-item-name: #434343;
$c-nav-chart-item-price: #2c2c2c;
$c-nav-chart-item-count: #434343;
$c-nav-subnav-link: #434343;
$c-nav-subnav-link-hover: #979797;
$c-searchbar-bg: #fc7126;

// Search
$c-search-text: #434343;
$c-search-link-hover: #fcfcfc;
$c-search-highlight: #1f8dd6;

$c-path: #fc7126;
$c-path-hover: #bd6739;
$c-path-active: #904f2b;

// Regions map
$c-region-fill: #dde3e8;
$c-region-fill-hover: #67778b;

// Footer
$c-footer-bg: #f3f3f3;
$c-footer-headers: #1d1d1d;
$c-footer-li: #434343;
$c-copyright: #5f5f5f;

// Forms
$c-input-border-color: #d5d5d5;
$c-form-label: #acacac;
$c-input-required: #fc7126;
$c-input-valid: #51ceb2;
$c-input-not-valid: #ed0b00;
$c-input-caret: #9e9e9e;
$c-input-caret-hover: #404040;

// Modal
$c-modal-close: #9b9b9b;
$c-modal-label: #acacac;
$c-modal-label-asterisk: #fc7126;

// Popover
$c-popover: #212121;
$c-popover-border: #fc7126;

// Page Main
$c-application-bg: #33393d;
$c-offer-title: #1c2e36;
$c-offer-title-hover: #979797;
$c-about-bg: #fbfbfb;
$c-about-h2: #171237;
$c-reviews: #1c2e36;
$c-reviews-title: #2e2e2e;
$c-reviews-nav-item: #bdc3c7;
$c-reviews-nav-item-active: #242424;
$c-reviews-bot-line: #e6eaeb;

// Page Catalog
$c-catalog-title-bg: #fc7126;
$c-catalog-title-hover-bg: #bd6739;
$c-catalog-sub: #404040;
$c-catalog-sub-hover: #fc7126;
$c-catalog-sub-ico: #fc7126;
$c-catalog-sub-item: #404040;

// Page Category
$c-category-filter-clear: #fc7126;

// Page Specs
$c-specs-h1: #171237;
$c-specs-categories-item: #212121;
$c-specs-categories-item-hover: #fc7126;
$c-specs-categories-item-active: #fc7126;
$c-specs-categories-border: #ababab;
$c-specs-list-bg: #dde3e8;
$c-specs-list-border: #ababab;
$c-specs-list-item: #2c2c2c;
$c-specs-list-link: #212121;
$c-specs-about: #212121;

// Page Order
$c-order-header: #171237;
$c-order-order-bg: #fbfbfb;
$c-order-order-title: #acacac;
$c-order-table-border: #979797;
$c-order-table-th: #fc7126;
$c-order-table-name: #404040;
$c-order-table-name-hover: #9b9b9b;
$c-order-table-count: #979797;

// Single news
$c-news-date: #acacac;
$c-news-back-link: #fc7126;
$c-news-back-link-hover: #bd6739;
$c-news-back-link-active: #904f2b;

// Page 404
$c-404-h1: #2c2c2c;
$c-404-info: #626262;

// Params
$h-nav: 56px;
$h-searchbar: 44px;
$h-header-top-padding: 30px;
$h-header: $h-nav + $h-searchbar + $h-header-top-padding;

// Shadows
$c-shadow: rgba($c-black, 0.25);
$sh-modal: 0 2px 8px 0 $c-shadow;
$sh-search: 0 1px 5px 0 $c-shadow;
$sh-search-focus: 0 2px 10px 1px rgba($c-black, 0.2);
$sh-teaser: 0 2px 4px 0 $c-shadow;

// Fonts
$f-size-base: 16px;
$f-family: "Open Sans", sans-serif;
