// ================================================================
// VARIABLES
// ================================================================
// Paths:
$img-path: "../images";
$font-path: "../fonts";

// Theme colors:
$c-black: #000;
$c-btn-red: #ff7f83;
$c-btn-red-hover: #ef4b50;
$c-border: #999;
$c-backgroud: #cfcfcf;
$c-grey-text: #333;
$c-nav-bg-start: #f9f9f9;
$c-nav-bg-end: #e8e8e8;
$c-red-legacy: #c90000;
$c-white: #fff;

// Fonts:
$f-size-base: 16px;
$f-family: Calibri, Arial, sans-serif;
