{% extends 'layout/inner_page.html' %}

{% load images %}
{% load mptt_tags %}
{% load thumbnail %}
{% load user_agents %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="row around-xs">
      {% comment %}
        @todo #567:60m  Update top menu "Category" item dropdown content.
         Now the dropdown contains root categories.
         Make it to contain only several second level categories and "see more" link.
         We have no mockups, manage UI in your own way.
      {% endcomment %}

      {% for root in categories %}
        <div class="col-md">
          <h2>{{ root.name }}</h2>
          <ul>
            {% for category in root.children.active %}
              <li class="second-level-category"><a href="{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <section class="about-catalog">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          {% autoescape off %}
            {{ page.content }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
