{% extends 'layout/inner_page.html' %}

{% load staticfiles %}
{% load mptt_tags %}

{% block content %}
  {% include 'components/breadcrumbs.html' %}

  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="catalog-ul-wrapper">
      {% recursetree nodes %}
        <a class="catalog-title {% if not node.parent %}js-catalog-title{% endif %}"
           href="{{ node.get_absolute_url }}">
          {{ node.name }}
        </a>

        {% if not node.is_leaf_node %}
          <ul class="catalog-ul js-catalog-ul">
            {{ children }}
          </ul>
        {% endif %}
      {% endrecursetree %}
    </div>
  </div>

  <section class="about-catalog">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          {% autoescape off %}
            {{ page.content }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
