{% extends 'pages/inner_page.html' %}

{% load staticfiles %}

{% block content %}
  {% include 'layout/breadcrumbs.html' %}

  <div class="container container-fluid">
    <h1 class="gbi-section">{{ page.h1 }}</h1>

    {% autoescape off %}
      {{ page.content }}
    {% endautoescape %}

    {% for category in children|dictsort:'name' %}
      {% if category.is_active %}
        <div class="cat_cat">
          <a href="{{ category.get_absolute_url }}">
            <span class="number">{{ category.id }}</span>
            <span class="catalog-second-level">{{ category.name }}</span>
            <div class="gbi-showcase-top-line">
              <!--TODO Needed create logic for images and empty thumb.-->
              <img src="{{ MEDIA_URL }}categories/1/1.png">
              <div class="cat-info">
              </div>
            </div>
            <div class="link-detailed">подробнее&nbsp;»</div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
