{% extends "layout/base.html" %}
{% load staticfiles %}

{% block main-content %}
  {% include 'layout/breadcrumbs.html' %}

  <h1>Дорожное строительство</h1>
  <p>Наше предприятие выпускает железобетонные изделия для искусственных сооружений на автомобильных и железных
    дорогах.</p>

  <p>Производим 3000 типоразмеров изделий по 78 сериям.</p>
  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">31</span>
      <span class="catalog-second-level">Водоотводные сооружения</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">180</span>
      <span class="catalog-second-level">Водопропускные трубы: звенья, оголовки, откосные стенки, фундаменты</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">199</span>
      <span class="catalog-second-level">Железнодорожные переезды</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">196</span>
      <span class="catalog-second-level">Железнодорожные платформы</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">125</span>
      <span class="catalog-second-level">Железобетонные изделия для укрепительных работ</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">187</span>
      <span class="catalog-second-level">Искусственные сооружения на специализированных автодорогах</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">203</span>
      <span class="catalog-second-level">Коммуникации</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">165</span>
      <span class="catalog-second-level">Мосты и путепроводы</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">140</span>
      <span class="catalog-second-level">Обстановка и отдельные элементы дороги</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">149</span>
      <span class="catalog-second-level">Опоры</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">115</span>
      <span class="catalog-second-level">Плиты дорожные</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">176</span>
      <span class="catalog-second-level">Подпорные стены</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">172</span>
      <span class="catalog-second-level">Путепроводы тоннельного типа</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">161</span>
      <span class="catalog-second-level">Сваи</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>

  <div class="cat_cat">
    <a href="{% url 'category_table' %}">
      <span class="number">145</span>
      <span class="catalog-second-level">Тротуарные и ограждающие блоки</span>
      <div class="gbi-showcase-top-line">
        <img src="{{ MEDIA_URL }}categories/1/1.png">
        <div class="cat-info">
        </div>
      </div>
      <div class="link-detailed">подробнее&nbsp;»</div>
    </a>
  </div>
{% endblock %}
