{% load stb_extras %}

{% for product in products %}
  {% if product.page.is_active %}
    <tr class="table-tr" id="{{ product.id }}">
      <td class="table-td table-picture text-center">
        {% include 'catalog/category_product_image.html' with product=product page=page only %}
      </td>
      {# TODO Needed create logic for images and empty thumb. #}
      {# http://youtrack.stkmail.ru/issue/dev-811 #}
      <td class="table-td table-code">
        {{ product.code|default:'' }}
      </td>
      <td class="table-td table-name">
        <a class="table-link" href="{{ product.url }}">
          {{ product.name }} {{ product.mark }}
        </a>
      </td>
      <td class="table-td table-price">
        {{ product.price|format_price }}
      </td>
      <td class="table-td table-count">
        <div class="table-count-wrap">
          {% include 'catalog/count_input.html' %}
        </div>
      </td>
      <td class="table-td table-order text-center">
        <span class="category-table-order js-category-buy">Заказать</span>

        <div class="popover js-popover">
          Товар добавлен в корзину
          <div class="popover-arrow"></div>
        </div>
      </td>
    </tr>
  {% endif %}
{% endfor %}
