{% extends 'layout/inner_page.html' %}

{% block content %}
  {% include 'components/breadcrumbs.html' with page=page base_url=base_url only %}
  {% include 'components/page_h1.html' with page=page category=category children=children only %}

  <section class="category-search">
    <div class="container container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-8">
          <div class="search">
            <input class="search-field" id="search-filter" type="text"
                   data-category="{{ category.id }}"
                   placeholder="Поиск (по названию, артикулу, серии)">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-2 category-filter-w">
        {% if children %}
          <div class="category-filter">
            <div class="category-filter-title">Подкатегории</div>
            <ul class="category-filter-list">
              {% for child in children %}
                <li class="category-filter-item">
                  <a class="category-filter-link" href="{{ child.url }}">
                    {{ child }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% comment %}
          @todo #596:60m  Rename "category-filter" props family.
           Series use them too.
           Use a new name like "items-filter" or "catalog-filter".
           Don't forget to check names in depth.
           For example `$m-category-filter-margin-right` should be renamed too.
        {% endcomment %}
        {% if category.get_series %}
          <div class="category-filter">
            <div class="category-filter-title">Серии</div>
            <ul class="category-filter-list">
              {% for series_one in category.get_series %}
                <li class="category-filter-item">
                  {% comment %}
                    @todo #610:30m  Reverse series-category url instead of hardcoding it.
                     See the `a.href` property below.
                     Reverse the url at the views or at the templates.
                  {% endcomment %}
                  <a class="series-filter-link category-filter-link"
                     href="/gbi/series/{{ series_one.page.slug }}/category/{{ category.id }}/">
                    {{ series_one.seo_name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if category.get_sections %}
          <div class="category-filter">
            <div class="category-filter-title">Типы изделий</div>
            <ul class="category-filter-list">
              {% for section in category.get_sections %}
                <li class="category-filter-item">
                  <a class="section-filter-link category-filter-link"
                     href="/gbi/section/{{ section.page.slug }}/">
                    {{ section.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% include 'catalog/category_tags_filter.html' with group_tags_pairs=group_tags_pairs tags_ui_limit=tags_ui_limit only %}
      </div>

      <div class="col-md-9 product-list">
        <table class="table">
          <thead>
            <tr>
              <th class="table-th table-th-photo">Фото</th>
              <th class="table-th table-th-code">Код</th>
              <th class="table-th table-th-name">Наименование / Марка</th>
              <th class="table-th table-th-price">Цена</th>
              <th class="table-th table-th-count">Кол-во</th>
              <th class="table-th table-th-remove"></th>
            </tr>
          </thead>
          <tbody class="js-photoswipe" id="products-wrapper">
            {% include 'catalog/options.html' with products=products product_images=product_images only %}
          </tbody>
        </table>

        {% include 'components/show_more_products.html' with paginated=paginated only %}
        {% include 'catalog/seo_links.html' with paginated=paginated only %}
      </div>
    </div>
  </div>

  {% include 'catalog/category_about.html' with page=page root_page=category.get_root.page only %}
{% endblock %}
