{% load images %}
{% load thumbnail %}

<div class="container container-fluid">
  <section class="category-about">
    {% with image=page.main_image  %}
      {% if image %}
        {% thumbnail image '204x138' as cropped_image %}
          <div class="category-about-img">
            <img src="{{ cropped_image.url }}">
          </div>
        {% endthumbnail %}
      {% endif %}
    {% endwith %}

    <div class="category-about-text">
      {% autoescape off %}
        {{ page.content }}
      {% endautoescape %}
    </div>
  </section>
</div>
