{% extends 'layout/inner_page.html' %}

{% block content %}
  {% include 'components/breadcrumbs.html' with page=page only %}
  {% include 'components/page_h1.html' with page=page category=category children=children only %}

  <section class="category-search">
    <div class="container container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-8">
          <div class="search">
            <input class="search-field" id="search-filter" type="text"
                   data-category="{{ category.id }}"
                   placeholder="Поиск (по названию, артиклу, серии)">
          </div>
        </div>
      </div>

      <div class="row text-right">
        <div class="col-xs-12 col-lg-11 public-offer">Не является публичной офертой.</div>
      </div>
    </div>
  </section>

  <div class="container container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-2 category-filter-w">
        {% if children %}
          <div class="category-filter">
            <div class="category-filter-title">Подкатегории</div>
            <ul class="category-filter-list">
              {% for child in children %}
                <li class="category-filter-item">
                  <a class="category-filter-link" href="{{ child.url }}">
                    {{ child }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% comment %}
        @todo #187:30m Fix tags markup
         Now added only html tags and now markup.
        {% endcomment %}

        {% include 'catalog/category_tags.html' with group_tags_pairs=group_tags_pairs only %}
        {% if group_tags_pairs %}
          <div class="tags-btns">
            <button class="btn btn-blue js-apply-filter" disabled>Применить</button>
            <button class="btn btn-pink js-clear-tag-filter">Сбросить</button>
          </div>
        {% endif %}
      </div>

      <div class="col-md-9 product-list">
        <h2 class="center-xs product-list-title">Товары в категории</h2>
        <table class="table">
          <thead>
            <tr>
              <th class="table-th table-th-photo">Фото</th>
              <th class="table-th table-th-code">Код</th>
              <th class="table-th table-th-name">Наименование / Марка</th>
              <th class="table-th table-th-price">Цена</th>
              <th class="table-th table-th-count">Кол-во</th>
              <th class="table-th table-th-remove"></th>
            </tr>
          </thead>
          <tbody class="js-photoswipe" id="products-wrapper">
            {% include 'catalog/category_products.html' with products=products product_images=product_images only %}
          </tbody>
        </table>

        {% include 'components/show_more_products.html' with category=category only %}
        {% include 'catalog/seo_links.html' with page_obj=page_obj paginator_links=paginator_links pagination_param=pagination_param only %}
      </div>
    </div>
  </div>

  {% include 'catalog/category_about.html' with page=page root_page=category.get_root.page only %}
{% endblock %}
