{% extends 'layout/inner_page.html' %}

{% block content %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="row">
      {# "items" are categories, sections or series #}
      {% for partition in parted_items %}
        <div class="col-xs-12 col-sm-4 col-md-3">
          <ul>
            {% for item in partition %}
              <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
