{% load images %}
{% load thumbnail %}
{% load stb_extras %}

<section class="product-siblings">
  <div class="container container-fluid">
    <h2 class="product-siblings-title text-center">В этой же серии:</h2>
    <div class="product-siblings-text text-center">
      Для вашего проекта могут также подойти такие железобетонные изделия:
    </div>

    <div class="slider js-slider">
      <div class="slider-content js-slider-content">
        {% for item in siblings %}
          <div class="slider-item js-slider-item">
            <a href="{{ item.get_absolute_url }}" class="slider-item-link">
              <div class="slider-item-title">
                {{ item.name }} {{ item.mark }}
              </div>

              <div class="slider-item-image">
                {% if item.page.main_image %}
                  {% thumbnail item.page.main_image '360x238' crop='center' as image %}
                    <img class="img-responsive img-stretched"
                         src="{{ image.url }}"
                         alt="{% get_img_alt item.page %}">
                  {% endthumbnail %}
                {% else %}
                  {% placeholder_image_url as image_url %}
                    <img class="img-responsive img-stretched"
                         src="{{ image_url }}"
                         alt="{% get_img_alt item.page %}">
                {% endif %}
              </div>
            </a>
            <div class="slider-item-price text-right">{{ item.price|format_price }}</div>
            <a class="more-link text-right paddingless" href="{{ item.get_absolute_url }}">Заказать</a>
          </div>
        {% endfor %}
      </div>

      <div class="slider-nav slider-nav-disable slider-nav-left js-slider-nav-left"></div>
      <div class="slider-nav slider-nav-right js-slider-nav-right"></div>
    </div>
  </div>
</section>
