{% extends "layout/base.html" %}
{% load staticfiles %}
{% load breadcrumb_extras %}
{% load stb_extras %}
{% block title %}{{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}

{% block main-content %}
  <div class="location">{% breadcrumbs breadcrumbs '»' %}</div>

  <div class="product-header">
    <h1 class="product-header-title">{{ product.h1 }} {{ product.mark }}</h1>
  </div>

  <div class="product">
    <div class="product-main">
      <div class="product-photo">
        <!--TODO Needed create logic for images and empty thumb.-->
        <img class="img-responsive" src="{{ MEDIA_URL }}products/1/main.jpg">
      </div>

      <div class="product-info">
        <h2>Характеристики</h2>
        <table class="props-tbl" cellpadding="5">
          <tbody>

          {% show_field_if_exist product.code 'Код' %}
          {% show_field_if_exist product.mark 'Марка ЖБИ' %}
          {% show_field_if_exist product.specification 'Рабочая документация' %}
          {% show_field_if_exist product.length 'Длина (мм)' %}
          {% show_field_if_exist product.width 'Ширина (мм)' %}
          {% show_field_if_exist product.diameter_in|floatformat:2 'Внутренний диаметр (мм)' %}
          {% show_field_if_exist product.diameter_out|floatformat:2 'Внешний диаметр (мм)' %}
          {% show_field_if_exist product.weight 'Масса (кг)' %}
          {% show_field_if_exist product.volume 'Объем (м3)' %}

          <tr>
            <td class="product-desc-left-col">
              <div class="product-price">
                <span>Цена:</span>
              </div>
            </td>
            <td class="product-desc-right-col">
              <div class="product-price">
                {% if product.price %}
                  {{ product.price }} руб.
                {% else %}
                  По запросу
                {% endif %}
              </div>
            </td>
          </tr>

          <tr>
            <td class="product-desc-left-col">
              <div class="shk_basket_count" style="float: none !important;">
                <input class="basket-rest js-product-count" type="text" name="shk-count" value="1" size="2" code="5933"
                       maxlength="5">
                <img class="field-arr-up" src="{% static 'images/spin-up.png' %}">
                <img class="field-arr-down" src="{% static 'images/spin-down.png' %}">
              </div>
            </td>
            <td class="product-desc-right-col">
              {# TODO: tooltip on press #}
              <input class="btn btn-red add-basket js-add-basket" id="shk-submit-5933" type="button"
                     name="shk-submit" value="Заказать" product-id="{{ product.id }}"
                     data-tooltip="Товар добавлен в заказ">
            </td>
          </tr>

          </tbody>
        </table>
        <div class="product-for-nds">
          <p>Цена указана с учетом НДС. Не является публичной офертой.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block jslinks %}
  {{ block.super }}
  <script src="{% static 'js/pages.min.js' %}"></script>
{% endblock %}
