{% extends 'layout/inner_page.html' %}

{% load pages_extras %}
{% load stb_extras %}

{% block content %}
  {% include 'components/breadcrumbs.html' with page=page base_url=base_url only %}

  <div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{ page.display_h1 }}">

    {% include 'components/page_h1.html' with page=page product=product only %}

    <section class="product-serial">
      <div class="container container-fluid">
        {% if product.code %}
          <span class="product-serial-title">Код</span>
          <span class="product-serial-val">{{ product.code }}</span>
        {% endif %}

        {% for series_one in product.get_series %}
          <span class="product-serial">
            <span class="product-serial-title">Серия</span>
            <a href="{{ series_one.url }}" class="product-serial-val link-on-top-level">
              {{ series_one.name }}
            </a>
          </span>
        {% endfor %}

        {% if product.mark %}
          <span class="product-serial-title">Марка</span>
          <span class="product-serial-val">{{ product.mark }}</span>
        {% endif %}

          <a class="category-price" href="{% url 'product_pdf' product.category.id %}">
            Скачать прайс <sup>[PDF]</sup>
          </a>
      </div>
    </section>

    <section class="js-product-info"
     data-id="{{ product.id }}"
     data-name="{{ product.name }}"
     data-category="{{ product.category.name }}"
    >
      <div class="container container-fluid">
        <div class="row">
          <div class="
            col-xs-12
            col-md-8 col-md-offset-2
            col-lg-6 col-lg-offset-3
          ">
            <div class="product-img-wrapper js-photoswipe">
              {% include 'catalog/product_image.html' with product=product only %}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 option-list">
            <table class="options-table table">
            <tr>
              <th class="table-th">Марка</th>
              {% for group in tag_groups %}
                <th class="table-th">{{ group.name }}</th>
              {% endfor %}

              <th class="table-th">Цена</th>
              <th class="table-th">Кол-во</th>
              <th class="table-th">Итог</th>
              <th class="table-th">{# Column for order button #}</th>
            </tr>
            {% for option in options.all %}
              <tr class="table-tr" data-id="{{ option.id }}" id="option-{{ option.id }}">
                <td class="table-td">{{ option.mark }}</td>
                {% for group in tag_groups %}
                  <td class="table-td tags">
                    {% get_tag_name group option %}
                  </td>
                {% endfor %}

                <td class="table-td option-td-price js-option-price">
                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    {{ option.price|format_price }}
                    <meta itemprop="price" content="{{ option.price|floatformat:2 }}">
                    <meta itemprop="priceCurrency" content="RUB">
                  </div>
                </td>

                <td class="table-td table-count table-td">
                  {% include 'catalog/count_input.html' with quantity='1' only %}
                </td>
                <td class="table-td table-price table-td sum">
                  <span class="js-option-sum">{{ option.price|format_price }}</span>
                </td>
                <td class="table-td table-order table-td">
                  <button class="btn buy-product js-buy-product"
                   data-id="{{ option.id }}"
                   data-catalog-name="{{ option.catalog_name }}"
                   type="submit">Заказать</button>
                </td>
              </tr>
            {% endfor %}
          </table>
          </div>
          <div class="public-offer">Не является публичной офертой</div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-lg-offset-1">
            <h2 class="product-describe-title">
              О доставке {{ page.display_h1 }}
            </h2>
            <div class="product-describe-text">
              <span itemprop="description">
                <p>
                Организуем доставку {{ page.display_h1 }} по всей России автомобильным, железнодорожным, водным транспортом. Можно воспользоваться самовывозом.
                </p>
                <br>
                <p>
                У нас нет фиксированной цены доставки, поэтому звоните менеджеру, чтобы ее узнать. Менеджер поможет выбрать способ доставки, рассчитает стоимость и назовет срок.
                </p>
                <br>
                <p>
                На каждое изделие выдается паспорт в соответствии с ГОСТ 13015-2012.
                </p>
              </span>
              <br>
              {% for label, category in ancestor_pairs %}
                {{ label }} &mdash;
                <a href="{{ category.url }}" class="link-on-top-level">
                  {{ category.name }}{% if not forloop.last %};{% else %}.{% endif %}
                </a>
              {% endfor %}
              </p>
              <br>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

  {% if sibling_with_images %}
    {% include 'catalog/product_siblings.html' with sibling_with_images=sibling_with_images only %}
  {% endif %}
{% endblock %}
