{% extends 'layout/inner_page.html' %}

{% block content %}
  {% include 'components/breadcrumbs.html' with page=page base_url=base_url only %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    {% if category %}
      <div class="row">
        <div class="col-md-9">
          <p>
            Изделия отфильтрованы по секции
            <a href="{{ category.url }}">{{ category.name }}</a>.
          </p>
          <p>
            <a href="{{ page.url }}">Полный список изделий</a> этой серии.
          </p>
        </div>
      </div>
      <div class="row"><div class="col-md-9"><br><br><br></div></div>
    {% endif %}

    <div class="row">
      <div class="col-md-9 product-list">
        <div class="public-offer">Не является публичной офертой.</div>
        <table class="table">
          <thead>
            <tr>
              <th class="table-th table-th-photo">Фото</th>
              <th class="table-th table-th-code">Код</th>
              <th class="table-th table-th-name">Наименование / Марка</th>
              <th class="table-th table-th-price">Цена</th>
              <th class="table-th table-th-count">Кол-во</th>
              <th class="table-th table-th-remove"></th>
            </tr>
          </thead>
          <tbody class="js-photoswipe" id="products-wrapper">
            {% include 'catalog/options.html' with products=products product_images=product_images only %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
