{% load images %}
{% load thumbnail %}

<div class="container container-fluid">
  {% comment %}
    @todo #558:60m  Remove "category" words from series templates.
     Series templates are using some code copied from category ones.
     See all series templates and a related scss/js code.
  {% endcomment %}
  <section class="category-about">
    <div class="category-about-text">
      {% autoescape off %}
        {{ page.content }}
      {% endautoescape %}
      <section id="js-category-description-destination"></section>
    </div>
  </section>
</div>
