{% extends 'layout/inner_page.html' %}

{% block content %}
  {% include 'components/page_h1.html' with page=page only %}

  <div class="container container-fluid">
    <div class="row">
      {% for partition in parted_series %}
        <div class="col-xs-12 col-sm-4 col-md-3">
          <ul>
            {% for series in partition %}
              <li><a href="{{ series.url }}">{{ series.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
