{% extends "layout/base.html" %}
{% load staticfiles %}

{% block content %}
  <h1>Каталог продукции</h1>

  <div class="main_cat" style="float: left">
    <div class="main_cat_gbi">
      <a href="/gbi/categories/31/">
        <p>Дорожное строительство</p>
        <img class="img-responsive" src="{{ MEDIA_URL }}categories/1/1.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/gbi/categories/31/">
          Водоотводные сооружения
        </a>
      </li>
      <li>
        <a href="/gbi/categories/115/">
          Плиты дорожные
        </a>
      </li>
      <li>
        <a href="/gbi/categories/125/">
          Железобетонные изделия для укрепительных работ
        </a>
      </li>
      <li>
        <a href="/gbi/categories/140/">
          Обстановка и отдельные элементы дороги
        </a>
      </li>
      <li>
        <a href="/gbi/categories/145/">
          Тротуарные и ограждающие блоки
        </a>
      </li>
      <li>
        <a href="/gbi/categories/149/">
          Опоры
        </a>
      </li>
      <li>
        <a href="/gbi/categories/161/">
          Сваи
        </a>
      </li>
      <li>
        <a href="/gbi/categories/165/">
          Мосты и путепроводы
        </a>
      </li>
      <li>
        <a href="/gbi/categories/172/">
          Путепроводы тоннельного типа
        </a>
      </li>
      <li>
        <a href="/gbi/categories/176/">
          Подпорные стены
        </a>
      </li>
      <li>
        <a href="/gbi/categories/180/">
          Водопропускные трубы: звенья, оголовки, откосные стенки, фундаменты
        </a>
      </li>
      <li>
        <a href="/gbi/categories/187/">
          Искусственные сооружения на специализированных автодорогах
        </a>
      </li>
      <li>
        <a href="/gbi/categories/196/">
          Железнодорожные платформы
        </a>
      </li>
      <li>
        <a href="/gbi/categories/199/">
          Железнодорожные переезды
        </a>
      </li>
      <li>
        <a href="/gbi/categories/203/">
          Коммуникации
        </a>
      </li>
    </ul>
  </div>

  <div class="main_cat" style="float: left">
    <div class="main_cat_gbi">
      <a href="/gbi/categories/459/">
        <p>Строительство энергетических объектов</p>
        <img class="img-responsive" src="{{ MEDIA_URL }}categories/1/1.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/gbi/categories/43/">
          Опоры ЛЭП
        </a>
      </li>
      <li>
        <a href="/gbi/categories/44/">
          Конструкции фундаментов для металлических опор ЛЭП
        </a>
      </li>
      <li>
        <a href="/gbi/categories/45/">
          Фундаменты трансформаторов и подстанций
        </a>
      </li>
      <li>
        <a href="/gbi/categories/59/">
          Фундаменты под опоры контактной сети для железных дорог
        </a>
      </li>
      <li>
        <a href="/gbi/categories/462/">
          Стойки для опор контактной сети
        </a>
      </li>
      <li>
        <a href="/gbi/categories/218/">
          Металлические конструкции непроходных кабельных эстакад. Серия 3.016.2-12, выпуск 2
        </a>
      </li>
    </ul>
  </div>

  <div class="main_cat" style="float: left">
    <div class="main_cat_gbi">
      <a href="/gbi/categories/456/">
        <p>Общегражданское и промышленное строительство</p>
        <img class="img-responsive" src="{{ MEDIA_URL }}categories/1/1.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/gbi/categories/11/">
          Фундаменты и блоки
        </a>
      </li>
      <li>
        <a href="/gbi/categories/12/">
          Элементы лестниц
        </a>
      </li>
      <li>
        <a href="/gbi/categories/13/">
          Перемычки и прогоны
        </a>
      </li>
      <li>
        <a href="/gbi/categories/15/">
          Колонны
        </a>
      </li>
      <li>
        <a href="/gbi/categories/74/">
          Плиты перекрытия ребристые
        </a>
      </li>
      <li>
        <a href="/gbi/categories/89/">
          Ригели
        </a>
      </li>
      <li>
        <a href="/gbi/categories/431/">
          Козырьки
        </a>
      </li>
      <li>
        <a href="/gbi/categories/435/">
          Балконные плиты
        </a>
      </li>
      <li>
        <a href="/gbi/categories/439/">
          Шахты лифтов
        </a>
      </li>
      <li>
        <a href="/gbi/categories/463/">
          Сваи
        </a>
      </li>
    </ul>
  </div>

  <div class="main_cat" style="float: left">
    <div class="main_cat_gbi">
      <a href="/gbi/categories/458/">
        <p>Строительство инженерных сетей</p>
        <img class="img-responsive" src="{{ MEDIA_URL }}categories/1/1.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/gbi/categories/314/">
          Теплоснабжение и электроснабжение
        </a>
      </li>
      <li>
        <a href="/gbi/categories/328/">
          Водоснабжение и канализация
        </a>
      </li>
      <li>
        <a href="/gbi/categories/337/">
          Эстакады
        </a>
      </li>
    </ul>
  </div>

  <div class="main_cat" style="float: left">
    <div class="main_cat_gbi">
      <a href="/gbi/categories/460/">
        <p>Благоустройство территории</p>
        <img class="img-responsive" src="{{ MEDIA_URL }}categories/1/1.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/gbi/categories/49/">
          Бордюрный камень
        </a>
      </li>
      <li>
        <a href="/gbi/categories/50/">
          Плиты бетонные тротуарные
        </a>
      </li>
      <li>
        <a href="/gbi/categories/51/">
          Цветочницы
        </a>
      </li>
      <li>
        <a href="/gbi/categories/52/">
          Урны
        </a>
      </li>
      <li>
        <a href="/gbi/categories/53/">
          Надолбы и тумбы
        </a>
      </li>
    </ul>
  </div>

  <div class="main_cat" style="float: left">
    <div class="main_cat_gbi" style="margin-bottom: 80px">
      <a href="/gbi/categories/461/">
        <p>Нефтегазовое строительство</p>
        <img class="img-responsive" src="{{ MEDIA_URL }}categories/1/1.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/gbi/categories/86/">
          Утяжелители болотные (тип Аг) . НГ–796–61 (ЛЕНГИПРОИНЖПРОЕКТ)
        </a>
      </li>
      <li>
        <a href="/gbi/categories/83/">
          Утяжелители охватывающие для магистральных трубопроводов (тип УБО). Проект 999Б
        </a>
      </li>
      <li>
        <a href="/gbi/categories/84/">
          Утяжелители сборные кольцевые для магистральных трубопроводов (тип УТК). ТУ 102-264-81, "Проект №994"
        </a>
      </li>
      <li>
        <a href="/gbi/categories/85/">
          Утяжелители болотные клиновидные. ТУ 102-421-86, "Проект 10412"
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
